Repository radical-cybertools/radical.pilot, pull requests merged in 2018-10, with the labels that each got.

#1731 no MPI for getting started example
  examples/00_getting_started.py
Labels: priority:high, type:documentation

#1738 Fix/bw stacksize
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/configs/resource_ncsa.json
Labels: comp:agent, priority:critical, topic:resource, type:enhancement

#1739 second bullet from issue #1399
  src/radical/pilot/agent/lm/spark.py
Labels: comp:agent:executor, priority:low, topic:data, type:enhancement

#1745 Fix/issue 1744
  src/radical/pilot/pmgr/launching/default.py
Labels: comp:pmgr:launcher, layer:rp, layer:saga, priority:high, topic:execution, topic:resource, type:bug

#1706 Summit/scheduler
  src/radical/pilot/agent/rm/base.py
  src/radical/pilot/agent/rm/lsf_summit.py
  src/radical/pilot/agent/scheduler/continuous_summit.py
  src/radical/pilot/configs/resource_ornl.json
  tests/test_summit/sample_summitdev_cpu_hosts
  tests/test_summit/sample_summitdev_hostfile
  tests/test_summit/test_rm_create_on_localhost.py
  tests/test_summit/test_rm_create_on_summit.py
  tests/test_summit/unit_test_cases_summit_scheduler.json
  tests/test_summit/unit_test_summit_scheduler.py
Labels: topic:resource:summit

#1714 add shellfs spawner
  docs/architecture/termination/component_termination_5.py
  examples/00_getting_started.py
  examples/config.json
  src/radical/pilot/agent/executing/base.py
  src/radical/pilot/agent/executing/shell_fs.py
  src/radical/pilot/agent/executing/shell_spawner_fs.sh
  src/radical/pilot/agent/rm/fork.py
  src/radical/pilot/agent/scheduler/hombre.py
  src/radical/pilot/configs/resource_local.json
  src/radical/pilot/configs/resource_ornl.json
  src/radical/pilot/umgr/staging_input/default.py
  src/radical/pilot/unit_manager.py
  src/radical/pilot/utils/component.py
  src/radical/pilot/utils/misc.py
Labels: comp:agent:executor, priority:medium, topic:execution, type:enhancement

#1748 Feature/task metadata
  examples/00_getting_started.py
Labels: comp:umgr, priority:high, topic:api, type:enhancement
