Repository radical-cybertools/radical.pilot, pull requests merged in 2019-02, with the labels that each got.

#1793 This optimization breaks for tagged units - remove.
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/continuous.py
Labels: comp:agent:scheduler, priority:high, type:performance

#1802 prepare for saga rename
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/executing/shell.py
  src/radical/pilot/agent/staging_input/default.py
  src/radical/pilot/agent/staging_output/default.py
  src/radical/pilot/compute_pilot_description.py
  src/radical/pilot/compute_unit_description.py
  src/radical/pilot/constants.py
  src/radical/pilot/context.py
  src/radical/pilot/db/database.py
  src/radical/pilot/pmgr/launching/default.py
  src/radical/pilot/resource_config.py
  src/radical/pilot/session.py
  src/radical/pilot/umgr/staging_input/default.py
  src/radical/pilot/umgr/staging_output/default.py
  src/radical/pilot/utils/session.py
Labels: layer:rct, layer:saga, layer:utils, priority:high, topic:api, type:enhancement

#1781 Feature/mem aware scheduler
  src/radical/pilot/agent/rm/base.py
  src/radical/pilot/agent/rm/fork.py
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/compute_unit_description.py
  src/radical/pilot/configs/resource_local.json
Labels: comp:agent:scheduler, priority:high, topic:resource, type:bug
