Repository radical-cybertools/radical.pilot, pull requests merged in 2019-07, with the labels that each got.

#1894 Fix/jsrun
  src/radical/pilot/agent/executing/abds.py
  src/radical/pilot/agent/executing/orte.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/executing/shell.py
  src/radical/pilot/agent/executing/shell_fs.py
  src/radical/pilot/agent/lm/jsrun.py
  src/radical/pilot/agent/rm/spark.py
  src/radical/pilot/agent/rm/yarn.py
  src/radical/pilot/pmgr/launching/default.py
Labels: comp:agent:executor, priority:high, topic:configuration, topic:execution, topic:resource:summit, type:bug

#1883 Feature/cleanup lm
  src/radical/pilot/agent/lm/base.py
  src/radical/pilot/agent/lm/mpirun.py
Labels: comp:agent:executor, layer:rp, priority:high, type:refactor

#1907 fix some tests
  tests/api/test_pilot.py
  tests/api/test_pilot_manager.py
  tests/api/test_unit.py
  tests/api/test_unit_manager.py
  tests/remote/test_remote.py
Labels: priority:critical, topic:testing, type:bug

#1899 let base class know about uniform workloads
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/hombre.py
Labels: comp:agent:scheduler, priority:high, topic:resource, type:bug

#1901 fix jsrun env export and summit agent config
  src/radical/pilot/agent/lm/jsrun.py
  src/radical/pilot/configs/agent_summit.json
Labels: comp:agent:executor, priority:critical, topic:execution, topic:resource:summit, type:bug

#1906 install events.md
  MANIFEST.in
  setup.py
Labels: layer:analytics, priority:high, topic:deployment, type:bug

#1908 cleanup setup.py
  setup.py
Labels: priority:low, type:refactor

#1904 resolve cherry-picked env fix
  examples/config.json
  src/radical/pilot/agent/lm/jsrun.py
Labels: comp:agent:executor, priority:critical, topic:resource:summit, type:bug

#1897 Fix/summit prte 2
  src/radical/pilot/agent/lm/prte.py
  src/radical/pilot/agent/rm/lsf_summit.py
Labels: comp:agent:executor, priority:critical, topic:execution, topic:resource:summit, type:bug

#1892 Fix/gpu chunk
  src/radical/pilot/agent/scheduler/continuous.py
Labels: comp:agent:scheduler, priority:critical, topic:resource:summit, type:bug

#1902 Fix/summit prte
  examples/00_getting_started.py
  examples/config.json
  examples/hello_rp.sh
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/lm/archive/mpirun_rsh.py
  src/radical/pilot/agent/lm/base.py
  src/radical/pilot/agent/lm/jsrun.py
  src/radical/pilot/agent/lm/prte.py
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/configs/agent_summit.json
  src/radical/pilot/configs/resource_ornl.json
Labels: comp:agent:executor, priority:high, topic:execution, topic:resource:summit, type:bug

#1903 frontera, here we come!
  examples/config.json
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/lm/srun.py
  src/radical/pilot/agent/rm/slurm.py
  src/radical/pilot/configs/agent_cray.json
  src/radical/pilot/configs/resource_xsede.json
Labels: comp:agent:bootstrapper, comp:agent:executor, comp:pmgr:launcher, priority:medium, topic:resource, type:enhancement

#1900 fix GPU maps
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/agent/scheduler/hombre.py
Labels: comp:umgr:scheduler, priority:high, topic:resource, type:bug

#1888 fix rcfg expansion
  src/radical/pilot/session.py
Labels: comp:agent:bootstrapper, priority:high, topic:deployment, topic:resource, type:enhancement

#1884 Feature/rm tests
  .coveragerc
  old_tests/api/test_pilot.py
  old_tests/api/test_pilot_manager.py
  old_tests/api/test_resource_configs.py
  old_tests/api/test_session.py
  old_tests/api/test_unit.py
  old_tests/api/test_unit_manager.py
  old_tests/remote/test_remote.py
  old_tests/test_hombre_scheduler.py
  old_tests/test_ordered_scheduler_int.py
  old_tests/test_summit/sample_summitdev_hostfile
  old_tests/test_summit/test_rm_create_on_localhost.py
  old_tests/test_summit/test_rm_create_on_summit.py
  old_tests/test_summit/unit_test_cases_jsrun_lm.json
  old_tests/test_summit/unit_test_cases_summit_scheduler.json
  old_tests/test_summit/unit_test_summit_scheduler.py
  old_tests/unit_tests/test_compute_unit.py
  src/radical/pilot/agent/lm/jsrun.py
  src/radical/pilot/states.py
  tests/test_cases/rm/nodelist.lsf
  tests/test_cases/rm/nodelist.pbs
  tests/test_cases/rm/nodelist.torque
  tests/test_cases/unit.000000.json
  tests/test_cases/unit.000002.json
  tests/test_cases/unit.000003.json
  tests/test_cases/unit.000005.json
  tests/test_cases/unit.000006.json
  tests/test_cases/unit.000007.json
  tests/test_cases/unit.000009.json
  tests/test_lm/test_unit/test_base.py
  tests/test_lm/test_unit/test_common.py
  tests/test_lm/test_unit/test_fork.py
  tests/test_lm/test_unit/test_ibrun.py
  tests/test_lm/test_unit/test_jsrun.py
  tests/test_lm/test_unit/test_mpiexec.py
  tests/test_lm/test_unit/test_prte.py
  tests/test_rm/test_unit/test_fork.py
  tests/test_rm/test_unit/test_lsf_summit.py
  tests/test_rm/test_unit/test_pbspro.py
  tests/test_rm/test_unit/test_torque.py
  tests/test_states.py
Labels: comp:agent:executor, priority:high, topic:resource, topic:resource:summit, topic:testing, type:enhancement

#1911 Fix/cvd mode
  examples/config.json
  src/radical/pilot/agent/rm/lsf_summit.py
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/configs/agent_summit_sa.json
Labels: comp:agent:executor, comp:agent:scheduler, priority:critical, topic:resource:summit, type:bug

#1914 Removing test_configure_error
  tests/test_rm/test_unit/test_fork.py
Labels: layer:rp, priority:high, topic:testing, type:bug

#1912 Fixing jsrun test mocking error
  tests/test_lm/test_unit/test_jsrun.py
Labels: comp:agent, layer:rp, priority:high, topic:testing, type:bug

#1913 Updating how `get_mpi_info` checks for Open MPI
  src/radical/pilot/agent/lm/base.py
Labels: comp:agent, layer:rp, priority:high, topic:deployment, type:bug

#1916 Archiving ORTE
  src/radical/pilot/agent/lm/archive/orte.py
  src/radical/pilot/agent/lm/archive/orte_lib.py
  src/radical/pilot/agent/lm/base.py
  tests/test_cases/unit.000000.json
  tests/test_cases/unit.000002.json
  tests/test_cases/unit.000003.json
  tests/test_cases/unit.000004.json
  tests/test_cases/unit.000005.json
  tests/test_cases/unit.000006.json
  tests/test_cases/unit.000007.json
  tests/test_lm/test_unit/test_orte.py
Labels: comp:agent:executor, priority:medium, topic:execution, topic:testing, type:refactor

#1921 fix tests
  tests/test_cases/unit.000000.json
  tests/test_cases/unit.000003.json
  tests/test_cases/unit.000005.json
  tests/test_cases/unit.000006.json
  tests/test_cases/unit.000007.json
Labels: comp:agent:executor, priority:medium, topic:testing, type:bug

#1877 Integration/molssi
  examples/molssi.py
Labels: comp:session, priority:medium, topic:communication, topic:p3, type:documentation

#1925 Hotfix/tiger cfg
  src/radical/pilot/configs/resource_princeton.json
Labels: comp:agent, priority:critical, topic:configuration, topic:resource, type:bug

#1926 Hotfix/conda ve
  bin/radical-pilot-create-static-ve
Labels: comp:agent:bootstrapper, priority:critical, topic:configuration, topic:resource, type:enhancement
