Repository radical-cybertools/radical.pilot, pull requests merged in 2019-11, with the labels that each got.

#1986 Tutorial/candle
  CHANGES.md
  docs/source/benchmarks.rst
  docs/source/conf.py
  docs/source/datastaging.rst
  docs/source/faq.rst
  docs/source/getting_started.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/machconf.rst
  docs/source/overview.rst
  docs/source/profiles.rst
  docs/source/resources.rst
  docs/source/schedulers.rst
  docs/source/tutorial/simple_bot.rst
  docs/source/user_guide/00_getting_started.rst
  docs/source/user_guide/04_scheduler_selection.rst
  docs/source/user_guide/index.rst
  docs/source/user_guide/multicore.rst
  docs/source/user_guide/remote_hpc_pilots.rst
  docs/source/user_guide/simple_bot_multi.rst
  examples/config.json
  examples/misc/colocated.py
  examples/misc/colocated_task.sh
  examples/misc/pipeline_task.sh
  src/radical/pilot/agent/executing/base.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/executing/sleep.py
  src/radical/pilot/agent/lm/mpirun.py
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/agent/scheduler/continuous_colo.py
  src/radical/pilot/agent/staging_input/default.py
  src/radical/pilot/agent/staging_output/default.py
  src/radical/pilot/compute_pilot.py
  src/radical/pilot/compute_unit_description.py
  src/radical/pilot/configs/agent_default.json
  src/radical/pilot/configs/agent_summit_sa.json
  src/radical/pilot/configs/resource_local.json
  src/radical/pilot/configs/resource_ornl.json
  src/radical/pilot/pmgr/launching/default.py
  src/radical/pilot/utils/component.py
  src/radical/pilot/utils/prof_utils.py
  src/radical/pilot/utils/pubsub.py
  src/radical/pilot/worker/update.py
Labels: priority:high, type:documentation

#1987 Fix/py3 summit
  examples/config.json
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/rm/lsf_summit.py
  src/radical/pilot/configs/resource_ornl.json
Labels: comp:agent:bootstrapper, comp:agent:executor, priority:high, topic:configuration, topic:deployment, topic:resource, topic:resource:summit, type:enhancement

#1992 fixing issue #1978
  src/radical/pilot/configs/resource_xsede.json
Labels: comp:pmgr, priority:medium, topic:configuration, topic:resource, type:bug

#1988 Fix/py3 frontera
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/configs/resource_ornl.json
  src/radical/pilot/configs/resource_xsede.json
Labels: comp:agent, priority:high, topic:configuration, topic:resource, type:enhancement

#1975 Fix/pilot stageout
  examples/07_shared_unit_data.py
  src/radical/pilot/compute_pilot.py
  src/radical/pilot/pilot_manager.py
  src/radical/pilot/pmgr/launching/default.py
Labels: comp:pmgr, priority:high, topic:data, type:enhancement

#1998 Bridges dependencies fixed
  examples/config.json
  src/radical/pilot/configs/resource_xsede.json
Labels: comp:agent:bootstrapper, comp:pmgr:launcher, priority:high, topic:configuration, topic:resource, type:enhancement

#1997 Fixing syntax error in print
  examples/12_unit_function.py
Labels: priority:medium, type:bug, type:documentation
