Repository radical-cybertools/radical.pilot, pull requests merged in 2019-10, with the labels that each got.

#1967 Rhea migration to Slurm since September 2019
  src/radical/pilot/configs/resource_ornl.json
Labels: topic:configuration, topic:resource

#1971 Hotfix/stampede2
  examples/config.json
  src/radical/pilot/configs/resource_xsede.json
Labels: comp:pmgr, priority:critical, topic:resource, type:enhancement

#1972 Fixes examples config for stampede2
  examples/config.json
Labels: priority:medium, topic:configuration, topic:testing, type:bug

#1932 Feature/coschedule
  examples/misc/colocated.py
  examples/misc/colocated_task.sh
  examples/misc/pipeline_task.sh
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/continuous_colo.py
  src/radical/pilot/configs/resource_local.json
Labels: comp:agent:scheduler, priority:medium, type:feature

#1973 conda create to python3
  src/radical/pilot/agent/bootstrap_0.sh
Labels: comp:agent:bootstrapper, priority:high, topic:configuration, topic:resource, type:bug

#1974 Hotfix/pub startup
  src/radical/pilot/pmgr/launching/default.py
  src/radical/pilot/utils/pubsub.py
Labels: comp:session, priority:critical, topic:communication, type:performance

#1980 Update stampede2 config
  src/radical/pilot/configs/resource_xsede.json
Labels: topic:p3
