Repository radical-cybertools/radical.pilot, pull requests merged in 2019-05, with the labels that each got.

#1801 push node_list to mongodb for analytics
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/utils/prof_utils.py
Labels: comp:agent, layer:analytics, layer:rp, priority:medium, topic:resource, type:enhancement

#1803 ensure safe termination on faulty installs
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/bootstrap_0.sh
Labels: comp:agent:bootstrapper, priority:high, topic:resource, type:bug

#1849 Fix/remove india
  src/radical/pilot/agent/bootstrap_0.sh
Labels: comp:agent:bootstrapper, priority:low, topic:resource, type:refactor

#1828 Feature/travis
  .travis.yml
  setup.py
  src/radical/pilot/configs/session_default.json
  tests/acceptance/test_acceptance.py
  tests/api/test_pilot.py
  tests/api/test_pilot_manager.py
  tests/api/test_resource_configs.py
  tests/api/test_session.py
  tests/api/test_unit.py
  tests/api/test_unit_manager.py
  tests/go_test.py
  tests/issue_1512/transfer_files.py
  tests/issues/issue_18.py
  tests/remote/test_remote.py
  tests/staging-testing-sandbox/sample-data/sample_configuration_staging_input.json
  tests/staging-testing-sandbox/sample-data/sample_configuration_staging_input_umgr.json
  tests/staging-testing-sandbox/sample-data/sample_configuration_staging_output.json
  tests/test_agent_staging_input_component_default.py
  tests/test_agent_staging_output_component_default.py
  tests/test_da_scheduler/test_agent_rm_slurm.py
  tests/test_da_scheduler/test_aprun_launch_method.py
  tests/test_da_scheduler/test_da_scheduler_mpi.py
  tests/test_da_scheduler/test_da_scheduler_tagging.py
  tests/test_da_scheduler/test_mpiexec_launch_method.py
  tests/test_da_scheduler/test_mpirun_launch_method.py
  tests/test_da_scheduler/test_orte_launch_method.py
  tests/test_integration.py
  tests/test_issue_1514/test_rp_integration.py
  tests/test_issue_1514/test_usic.py
  tests/test_issue_1514/test_usoc.py
  tests/test_pubsub.py
  tests/test_queue.py
  tests/test_suites/remote_generic/test_suite_remote_generic.py
  tests/test_suites/remote_generic/test_suite_remote_generic_1.py
  tests/test_tarball_agent.py
  tests/test_tarball_umgr.py
Labels: priority:high, topic:testing, type:enhancement

#1848 Fix/issue 1834
  tests/test_lm/test_integration/test_jsrun/jobs.sh
  tests/test_lm/test_integration/test_jsrun/runme.sh
  tests/test_lm/test_integration/test_jsrun/test_1/cmds
  tests/test_lm/test_integration/test_jsrun/test_1/exp_out
  tests/test_lm/test_integration/test_jsrun/test_10/exp_out
  tests/test_lm/test_integration/test_jsrun/test_11/exp_out
  tests/test_lm/test_integration/test_jsrun/test_12/exp_out
  tests/test_lm/test_integration/test_jsrun/test_2/exp_out
  tests/test_lm/test_integration/test_jsrun/test_3/exp_out
  tests/test_lm/test_integration/test_jsrun/test_5/exp_out
  tests/test_lm/test_integration/test_jsrun/test_7/exp_out
  tests/test_lm/test_integration/test_jsrun/test_9/exp_out
Labels: topic:resource:summit, topic:testing, type:enhancement

#1581 Feature/cu sandbox
  src/radical/pilot/compute_unit_description.py
  src/radical/pilot/session.py
  src/radical/pilot/unit_manager.py
  tests/unit_tests/compute_unit.py
Labels: comp:agent:executor, comp:agent:stager, comp:umgr:stager, priority:low, topic:data, topic:execution, type:feature

#1704 Feature/schedule ordered
  .travis.yml
  examples/misc/ordered_pipelines.py
  src/radical/pilot/agent/executing/abds.py
  src/radical/pilot/agent/executing/orte.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/executing/shell.py
  src/radical/pilot/agent/rm/fork.py
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/agent/scheduler/continuous_fifo.py
  src/radical/pilot/agent/scheduler/continuous_ordered.py
  src/radical/pilot/compute_unit_description.py
  src/radical/pilot/configs/resource_local.json
  src/radical/pilot/configs/session_default.json
  src/radical/pilot/umgr/scheduler/base.py
  tests/staging-testing-sandbox/sample-data/sample_configuration_staging_input.json
  tests/staging-testing-sandbox/sample-data/sample_configuration_staging_input_umgr.json
  tests/staging-testing-sandbox/sample-data/sample_configuration_staging_output.json
  tests/test_integration_fifo_scheduler.py
  tests/test_ordered_scheduler_int.py
  tests/unit_tests/test_compute_unit.py
Labels: comp:agent:scheduler, priority:medium, type:feature

#1852 Feature/tiger
  bin/radical-pilot-agent-statepush
  bin/radical-pilot-create-static-ve
  bin/radical-pilot-ve
  examples/09_mpi_units.py
  examples/config.json
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/rm/slurm.py
  src/radical/pilot/configs/resource_princeton.json
Labels: comp:agent, comp:pmgr:launcher, priority:high, topic:configuration, topic:resource, type:enhancement
