Repository radical-cybertools/radical.pilot, pull requests merged in 2020-03, with the labels that each got.

#2091 Hotfix/summit
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/launch_method/base.py
  src/radical/pilot/agent/launch_method/jsrun.py
  src/radical/pilot/agent/launch_method/prte.py
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/configs/resource_ornl.json
Labels: comp:agent:executor, comp:agent:scheduler, comp:pmgr:launcher, priority:critical, topic:execution, topic:resource:summit, type:bug, type:enhancement

#2093 cu level profiling needs to be python independent
  src/radical/pilot/agent/bootstrap_0.sh
Labels: priority:critical, topic:profiling, topic:resource, type:bug

#2092 rtx config
  src/radical/pilot/configs/resource_xsede.json
Labels: comp:agent:scheduler, priority:critical, topic:configuration, type:enhancement

#2094 restore original env before task execution
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/executing/popen.py
Labels: comp:agent:executor, comp:pmgr:launcher, priority:high, topic:configuration, topic:resource, type:bug

#2095 Configuration data for Longhorn@TACC
  examples/config.json
  src/radical/pilot/configs/resource_xsede.json
Labels: layer:rct, topic:resource

#2096 Added config parameters for Longhorn: cores_per_node, gpus_per_node
  src/radical/pilot/configs/resource_xsede.json
Labels: layer:rp, priority:medium, topic:configuration

#2101 Fix/issue 2074
  src/radical/pilot/agent/launch_method/mpirun.py
Labels: comp:agent:executor, priority:high, topic:execution, type:bug

#2103 Hotfix/cobalt
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/launch_method/srun.py
  src/radical/pilot/agent/resource_manager/base.py
  src/radical/pilot/agent/resource_manager/cobalt.py
  src/radical/pilot/configs/resource_anl.json
  src/radical/pilot/configs/resource_xsede.json
  tests/test_cases/unit.000005.json
  tests/test_lm/test_unit/test_prte.py
Labels: comp:agent:executor, priority:high, topic:resource

#2105 Feature/cpi
  bin/radical-pilot-worker
  examples/misc/task_overlay.py
  examples/misc/task_overlay_master.py
  examples/misc/task_overlay_worker.py
  setup.py
  src/radical/pilot/__init__.py
  src/radical/pilot/agent/__init__.py
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/agent/staging_input/default.py
  src/radical/pilot/configs/agent_default.json
  src/radical/pilot/task_overlay/__init__.py
  src/radical/pilot/task_overlay/master.py
  src/radical/pilot/task_overlay/worker.py
  src/radical/pilot/umgr/scheduler/base.py
  src/radical/pilot/umgr/scheduler/round_robin.py
  src/radical/pilot/utils/component.py
Labels: comp:agent:executor, priority:medium, topic:execution, type:feature

#2106 Refactor/cleanup
  docs/architecture/zmq/queue/README.md
  docs/architecture/zmq/queue/c1.py
  docs/architecture/zmq/queue/c2.py
  docs/architecture/zmq/queue/c3.py
  docs/architecture/zmq/queue/test_zmq.py
  src/radical/pilot/pmgr/launching/default.py
  src/radical/pilot/session.py
  src/radical/pilot/umgr/scheduler/base.py
  src/radical/pilot/umgr/scheduler/round_robin.py
  src/radical/pilot/utils/component.py
Labels: priority:low, type:refactor
