Repository radical-cybertools/radical.pilot, pull requests merged in 2020-04, with the labels that each got.

#2111 Hotfix/launcher termination
  src/radical/pilot/agent/launch_method/prte.py
  src/radical/pilot/pmgr/launching/base.py
  src/radical/pilot/pmgr/launching/default.py
Labels: comp:pmgr:launcher, priority:critical, topic:termination, type:refactor

#2104 Hotfix/stampded ibrun
  examples/config.json
  setup.py
  src/radical/pilot/agent/launch_method/base.py
  src/radical/pilot/agent/launch_method/ibrun.py
  src/radical/pilot/configs/resource_xsede.json
Labels: comp:agent:executor, priority:critical, topic:resource, type:refactor

#2122 SRUN latest updates
  src/radical/pilot/agent/launch_method/srun.py
  src/radical/pilot/configs/resource_xsede.json
  tests/test_cases/unit.000010.json
  tests/test_lm/test_unit/test_srun.py
Labels: layer:rp, priority:medium, topic:execution, type:enhancement

#2115 Hotfix/agent nodes
  src/radical/pilot/utils/prof_utils.py
Labels: priority:high, topic:profiling, type:bug

#2124 Update bootstrap script
  src/radical/pilot/agent/bootstrap_0.sh
Labels: comp:agent:bootstrapper, layer:rct, priority:medium, type:enhancement

#2127 add `deactivate` support for tasks
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/unit_manager.py
  src/radical/pilot/utils/__init__.py
  src/radical/pilot/utils/db_connection_info.py
  src/radical/pilot/utils/null.txt
  src/radical/pilot/utils/slot_utils.py
Labels: comp:agent:bootstrapper, comp:agent:executor, priority:high, topic:execution, topic:resource, type:feature

#2133 Updates in IBRun LM (module itself + tests)
  src/radical/pilot/agent/launch_method/ibrun.py
  tests/test_cases/unit.000000.json
  tests/test_cases/unit.000001.json
  tests/test_cases/unit.000002.json
  tests/test_cases/unit.000003.json
  tests/test_cases/unit.000004.json
  tests/test_cases/unit.000006.json
  tests/test_cases/unit.000007.json
  tests/test_cases/unit.000008.json
  tests/test_cases/unit.000011.json
  tests/test_cases/unit.000012.json
  tests/test_lm/test_unit/test_ibrun.py
Labels: comp:agent:executor, priority:medium, topic:resource, type:bug, type:enhancement
