Repository radical-cybertools/radical.pilot, pull requests merged in 2020-10, with the labels that each got.

#2231 Fix cu description for shell executor based on issue #2221
  src/radical/pilot/agent/executing/shell.py
Labels: comp:agent:executor

#2233 Fixed agent config definition (in PilotManager)
  src/radical/pilot/pmgr/launching/default.py
Labels: comp:pmgr, priority:medium, topic:configuration, type:enhancement

#2225 Fix/srun mpirun
  src/radical/pilot/configs/resource_princeton.json
  src/radical/pilot/configs/resource_xsede.json
Labels: comp:agent, comp:agent:bootstrapper, priority:medium, topic:configuration, type:enhancement

#2223 TO bulk worker launch
  examples/misc/task_overlay.cfg
  examples/misc/task_overlay.py
  examples/misc/task_overlay_master.py
  examples/misc/task_overlay_worker.py
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/executing/archive/abds.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/executing/shell.py
  src/radical/pilot/agent/executing/shell_fs.py
  src/radical/pilot/agent/executing/shell_spawner_fs.sh
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/task_overlay/master.py
  src/radical/pilot/task_overlay/worker.py
Labels: comp:agent:task_overlay, priority:high, topic:execution, type:enhancement, type:performance

#2207 Test/worker
  examples/config.json
  examples/misc/task_overlay.cfg
  src/radical/pilot/constants.py
  src/radical/pilot/task_overlay/worker.py
  src/radical/pilot/utils/component.py
  tests/test_components/task_overlay_worker/control_pubsub.json
  tests/test_components/task_overlay_worker/drive_worker.py
  tests/test_components/task_overlay_worker/funcs_req_queue.json
  tests/test_components/task_overlay_worker/funcs_res_queue.json
  tests/test_components/task_overlay_worker/state_pubsub.json
  tests/test_components/task_overlay_worker/test_worker.sh
  tests/test_components/task_overlay_worker/worker.0000.json
Labels: priority:medium, topic:testing, type:feature

#2242 Feature/test agent executing
  tests/test_agent_stagein/__init__.py
  tests/test_components/__init__.py
  tests/test_components/task_overlay_worker/__init__.py
  tests/test_executing/__init__.py
  tests/test_executing/test_unit/__init__.py
  tests/test_executing/test_unit/test_base.py
  tests/test_executing/test_unit/test_cases/test_base.json
  tests/test_executing/test_unit/test_popen.py
  tests/test_executing/test_unit/test_shell.py
  tests/test_launcher/__init__.py
  tests/test_scheduler/__init__.py
  tests/test_scheduler/test_unit/__init__.py
Labels: comp:agent:executor, topic:testing

#2243 Fix/cheyenne
  src/radical/pilot/configs/resource_ncar.json
Labels: comp:agent, comp:agent:bootstrapper, priority:high, topic:configuration, type:enhancement
