Repository radical-cybertools/radical.pilot, pull requests merged in 2020-12, with the labels that each got.

#2277 Updated pip command in bootstrap script
  src/radical/pilot/agent/bootstrap_0.sh
Labels: comp:agent:bootstrapper, priority:high, topic:deployment

#2275 Fixed procedure of adding resource config to the session
  docs/source/machconf.rst
  src/radical/pilot/configs/resource_aliases.json
  src/radical/pilot/constants.py
  src/radical/pilot/session.py
  tests/test_components/test_cases/user_cfg.json
  tests/test_components/test_session.py
Labels: comp:session, priority:medium, topic:configuration, type:bug

#2269 Fix/sa init
  examples/config.json
  src/radical/pilot/utils/component.py
  tests/test_agent_stagein/test_default.py
  tests/test_components/test_component.py
  tests/test_executing/test_unit/test_base.py
  tests/test_executing/test_unit/test_popen.py
  tests/test_executing/test_unit/test_shell.py
  tests/test_launcher/test_launcher.py
  tests/test_lm/test_unit/test_aprun.py
  tests/test_lm/test_unit/test_base.py
  tests/test_lm/test_unit/test_ccmrun.py
  tests/test_lm/test_unit/test_common.py
  tests/test_lm/test_unit/test_fork.py
  tests/test_lm/test_unit/test_ibrun.py
  tests/test_lm/test_unit/test_jsrun.py
  tests/test_lm/test_unit/test_mpiexec.py
  tests/test_lm/test_unit/test_mpirun.py
  tests/test_lm/test_unit/test_prte.py
  tests/test_lm/test_unit/test_prte2.py
  tests/test_lm/test_unit/test_rsh.py
  tests/test_lm/test_unit/test_spark.py
  tests/test_lm/test_unit/test_srun.py
  tests/test_lm/test_unit/test_ssh.py
  tests/test_lm/test_unit/test_yarn.py
  tests/test_rm/test_unit/test_cobalt.py
  tests/test_rm/test_unit/test_fork.py
  tests/test_rm/test_unit/test_lsf_summit.py
  tests/test_rm/test_unit/test_pbspro.py
  tests/test_rm/test_unit/test_slurm.py
  tests/test_rm/test_unit/test_torque.py
  tests/test_scheduler/test_unit/test_base.py
  tests/test_scheduler/test_unit/test_continuous.py
  tests/test_scheduler/test_unit/test_continuous_ordered.py
  tests/test_states.py
Labels: comp:session, priority:medium, topic:communication, type:refactor

#2280 Env variable RADICAL_BASE for a job description
  src/radical/pilot/pmgr/launching/default.py
  tests/test_launcher/test_launcher.py
Labels: comp:pmgr:launcher, priority:medium, topic:deployment

#2283 Remove TMPDIR setup for pip installation
  src/radical/pilot/agent/bootstrap_0.sh
Labels: comp:agent:bootstrapper, priority:high, topic:deployment

#2262 get the FUNC executor working again
  .codecov.yml
  bin/radical-pilot-agent-funcs
  examples/12_unit_function.py
  src/radical/pilot/agent/executing/funcs.py
Labels: comp:agent:executor, priority:critical, topic:execution, type:bug, type:refactor

#2263 Feature/blocked cores
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/configs/resource_xsede.json
  tests/test_scheduler/test_unit/test_cases_continuous/test_continuous.json
  tests/test_scheduler/test_unit/test_continuous.py
Labels: comp:agent:scheduler, priority:medium, topic:configuration, topic:resource, type:enhancement

#2274 Pilot RPC
  .github/workflows/python-app.yml
  .pylintrc
  examples/config.json
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/executing/archive/abds.py
  src/radical/pilot/agent/executing/archive/orte.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/executing/shell.py
  src/radical/pilot/compute_pilot.py
  src/radical/pilot/configs/agent_cray.json
  src/radical/pilot/configs/agent_cray_aprun.json
  src/radical/pilot/configs/agent_osg.json
  src/radical/pilot/configs/agent_rhea.json
  src/radical/pilot/configs/agent_summit_sa.json
  src/radical/pilot/constants.py
  src/radical/pilot/db/database.py
  src/radical/pilot/pmgr/launching/default.py
  src/radical/pilot/staging_directives.py
  src/radical/pilot/task_overlay/master.py
  src/radical/pilot/task_overlay/worker.py
  tests/test_agent_0/test_unit/test_agent_0.py
  tests/test_integration/test_pilot_rpc.py
Labels: comp:agent, priority:high, topic:api, topic:communication, type:feature

#2288 purge old confirg entries
  src/radical/pilot/configs/resource_fub.json
  src/radical/pilot/configs/resource_local.json
  src/radical/pilot/configs/resource_osg.json
  src/radical/pilot/configs/resource_radical.json
  src/radical/pilot/configs/resource_tacc.json
  src/radical/pilot/configs/resource_xsede.json
Labels: comp:pmgr:launcher, priority:medium, topic:configuration, type:refactor

#2250 support for custom task and pilot IDs
  src/radical/pilot/compute_pilot.py
  src/radical/pilot/compute_pilot_description.py
  src/radical/pilot/compute_unit.py
  src/radical/pilot/compute_unit_description.py
  src/radical/pilot/pilot_manager.py
  src/radical/pilot/unit_manager.py
  tests/test_pilot/test_pilot.py
  tests/test_task/test_task.py
Labels: comp:pmgr, comp:umgr, layer:entk, priority:medium, topic:profiling, type:feature
