Repository radical-cybertools/radical.pilot, pull requests merged in 2020-11, with the labels that each got.

#2245 Hotfix/demunch
  examples/misc/task_overlay_master.py
  src/radical/pilot/db/database.py
  src/radical/pilot/session.py
Labels: comp:session, priority:critical, topic:data, type:bug

#2131 Fix/issue 2128
  src/radical/pilot/agent/launch_method/base.py
  tests/test_lm/test_unit/test_base.py
Labels: comp:agent:executor, priority:high, topic:configuration, topic:execution, type:enhancement

#2253 small fix for dict benchmark
  docs/architecture/dicts/spec.py
  docs/architecture/dicts/spec_config.py
Labels: priority:medium, topic:profiling, type:bug

#2252 Not set empty CUDA_VISIBLE_DEVICES
  src/radical/pilot/agent/scheduler/base.py
  tests/test_scheduler/test_unit/test_base.py
  tests/test_scheduler/test_unit/test_cases/test_base.json
Labels: comp:agent:scheduler, priority:medium, topic:execution, type:bug

#2256 Remove pilot and job names comparison (in pmgr.launching)
  src/radical/pilot/pmgr/launching/default.py
Labels: comp:pmgr:launcher, priority:medium, type:refactor

#2255 Empty env var NODE_LFS_PATH
  src/radical/pilot/agent/scheduler/base.py
  tests/test_scheduler/test_unit/test_base.py
  tests/test_scheduler/test_unit/test_cases/test_base.json
Labels: comp:agent:scheduler, priority:medium, topic:configuration, type:bug

#2244 Hotfix/scheduler log
  src/radical/pilot/agent/scheduler/continuous.py
Labels: comp:agent:scheduler, priority:medium, topic:configuration, type:performance

#2270 Fix/to summit
  examples/misc/task_overlay.summit.cfg
Labels: comp:raptor, priority:medium, topic:configuration, topic:resource, type:enhancement

#2268 Fix/princeton traverse
  src/radical/pilot/configs/resource_princeton.json
Labels: comp:agent:bootstrapper, priority:medium, topic:configuration, topic:resource, type:enhancement

#2265 Feature/env isolation
  docs/architecture/env_isolation/00_env_isolation_utils.py
  docs/architecture/env_isolation/00_env_isolation_utils.sh
  docs/architecture/env_isolation/01_env_isolation_boot.sh
  docs/architecture/env_isolation/02_env_isolation_agent.py
  docs/architecture/env_isolation/03_env_isolation_exec.py
  docs/architecture/env_isolation/04_env_isolation_launcher.sh
  docs/architecture/env_isolation/05_env_isolation_wrapper.sh
  docs/architecture/env_isolation/06_env_isolation_task.sh
  docs/architecture/env_isolation/README.md
  docs/architecture/env_isolation/__init__.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/launch_method/base.py
  src/radical/pilot/agent/launch_method/mpiexec.py
  src/radical/pilot/configs/resource_fub.json
  src/radical/pilot/configs/resource_xsede.json
Labels: comp:agent:executor, priority:medium, topic:execution, topic:resource, type:documentation

#2264 Feature/bridges mpirun
  src/radical/pilot/configs/resource_xsede.json
Labels: priority:medium, topic:configuration, topic:resource, type:enhancement

#2266 Feature/raptor mpi
  src/radical/pilot/task_overlay/worker.py
Labels: comp:raptor, priority:low, topic:execution, type:enhancement

#2267 Fix/mpiexec mpt
  examples/09_mpi_units.py
  src/radical/pilot/agent/launch_method/base.py
  src/radical/pilot/agent/launch_method/mpiexec.py
  src/radical/pilot/agent/launch_method/mpirun.py
  src/radical/pilot/configs/resource_local.json
  src/radical/pilot/configs/resource_ncar.json
  src/radical/pilot/pmgr/launching/default.py
  tests/test_cases/unit.000000.json
  tests/test_cases/unit.000003.json
  tests/test_cases/unit.000005.json
  tests/test_cases/unit.000009.json
  tests/test_lm/test_unit/test_mpiexec.py
Labels: comp:agent:executor, priority:high, topic:execution, topic:resource, type:bug

#2272 update
  src/radical/pilot/configs/resource_xsede.json
Labels: comp:agent:bootstrapper, priority:medium, topic:configuration, type:bug

#2273 Fixed tests for MPIRun LM
  tests/test_lm/test_unit/test_mpirun.py
Labels: priority:medium, topic:testing
