Repository radical-cybertools/radical.pilot, pull requests merged in 2020-02, with the labels that each got.

#2051 add "fake_resources" cfg option
  src/radical/pilot/agent/resource_manager/fork.py
  src/radical/pilot/configs/resource_local.json
Labels: comp:agent:scheduler, priority:low, topic:configuration, type:enhancement

#2044 revert from bin gtod and bc to awk - if awk is missing, we give up.
  src/radical/pilot/agent/bootstrap_0.sh
Labels: comp:agent:bootstrapper, priority:low, topic:resource, type:enhancement

#2050 re-order termination
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/pilot_manager.py
  src/radical/pilot/pmgr/launching/default.py
Labels: comp:agent:bootstrapper, comp:pmgr, priority:critical, topic:termination, type:bug

#2054 Fixing resource config file. Issue #2007
  src/radical/pilot/configs/resource_xsede.json
Labels: comp:agent:bootstrapper, priority:high, topic:configuration, topic:resource, type:bug

#2032 make sure that resource details are preserved
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/pmgr/launching/default.py
Labels: priority:critical, topic:profiling, topic:termination, type:bug

#2048 fix #2047
  src/radical/pilot/session.py
Labels: comp:session, layer:entk, layer:rp, priority:medium, topic:configuration, type:bug

#2061 ensure ccmrun, dplace defaults
  src/radical/pilot/agent/launch_method/mpirun.py
Labels: comp:agent:executor, priority:critical, topic:execution, type:bug

#2060 typos cleaning in the docs (Installation section)
  docs/source/installation.rst
Labels: priority:high, type:documentation

#2055 str default should not be `None`
  src/radical/pilot/compute_unit_description.py
Labels: comp:umgr, priority:critical, topic:api, type:bug

#2062 fixes in the User Guide and other sections
  docs/source/benchmarks.rst
  docs/source/datastaging.rst
  docs/source/developer.rst
  docs/source/events.md
  docs/source/faq.rst
  docs/source/installation.rst
  docs/source/intro.rst
  docs/source/machconf.rst
  docs/source/profiles.rst
  docs/source/schedulers.rst
  docs/source/testing.rst
  docs/source/tutorial/mpi_tasks.rst
  docs/source/tutorial/simple_bot.rst
  docs/source/user_guide/00_getting_started.rst
  docs/source/user_guide/01_unit_details.rst
  docs/source/user_guide/06_unit_output_data.rst
  docs/source/user_guide/07_shared_unit_data.rst
  docs/source/user_guide/08_unit_environment.rst
  docs/source/user_guide/09_mpi_units.rst
  docs/source/user_guide/10_pre_and_post_exec.rst
  docs/source/user_guide/simple_bot_multi.rst
  examples/00_getting_started.py
Labels: layer:rct, layer:utils, priority:high, topic:deployment, type:documentation

#2066 fix stampede2 config
  examples/config.json
  src/radical/pilot/configs/resource_xsede.json
Labels: priority:critical, topic:configuration, topic:resource, type:bug

#2067 clean bootstrapper deps
  src/radical/pilot/agent/bootstrap_0.sh
Labels: comp:agent:bootstrapper, priority:low, topic:configuration, type:refactor

#2064 fix cud schema
  src/radical/pilot/compute_unit_description.py
Labels: comp:umgr, priority:critical, topic:configuration, type:bug

#2068 Updating travis yml to include codecov
  .travis.yml
Labels: priority:high, topic:configuration, topic:testing, type:bug

#2073 fix stack deps
  setup.py
Labels: layer:rct, layer:rp, priority:critical, topic:deployment, type:bug

#2076 fixed package paths for launch methods in unit tests (tests.test_lm.test_unit)
  tests/test_lm/test_unit/test_aprun.py
  tests/test_lm/test_unit/test_base.py
  tests/test_lm/test_unit/test_ccmrun.py
  tests/test_lm/test_unit/test_fork.py
  tests/test_lm/test_unit/test_ibrun.py
  tests/test_lm/test_unit/test_jsrun.py
  tests/test_lm/test_unit/test_mpiexec.py
  tests/test_lm/test_unit/test_mpirun.py
  tests/test_lm/test_unit/test_prte.py
  tests/test_lm/test_unit/test_rsh.py
  tests/test_lm/test_unit/test_spark.py
  tests/test_lm/test_unit/test_ssh.py
  tests/test_lm/test_unit/test_yarn.py
Labels: topic:testing, type:bug

#2077 fix issue 2075 part 2; fix fork test
  TODO
  tests/test_lm/test_unit/test_common.py
  tests/test_rm/test_unit/test_fork.py
  tests/test_rm/test_unit/test_lsf_summit.py
  tests/test_rm/test_unit/test_pbspro.py
  tests/test_rm/test_unit/test_slurm.py
  tests/test_rm/test_unit/test_torque.py
Labels: comp:agent, priority:medium, topic:testing, type:bug

#2083 Updated reference to the documentation
  README.md
  docs/source/machconf.rst
  examples/00_getting_started.py
  examples/01_unit_details.py
  examples/02_failing_units.py
  examples/03_multiple_pilots.py
  examples/04_scheduler_selection.py
  examples/05_unit_input_data.py
  examples/06_unit_output_data.py
  examples/07_shared_unit_data.py
  examples/08_unit_environment.py
  examples/09_mpi_units.py
  examples/10_pre_and_post_exec.py
  examples/11_unit_input_data_tar.py
  examples/11_unit_input_folder.py
  examples/12_unit_function.py
  examples/archive/12_partitions.py
  examples/data_staging/io_staging_dict.py
  examples/data_staging/io_staging_simple.py
  examples/docs/chained_tasks.py
  examples/docs/coupled_tasks.py
  examples/docs/kmeans_openmp.py
  examples/docs/kmeans_seq.py
  examples/docs/mpi_tasks.py
  examples/docs/simple_bot.py
  examples/docs/simple_bot_mult_res.py
  examples/getting_started_osg_2.py
  examples/misc/backfilling.py
  examples/misc/backfilling_recovery.py
  examples/misc/benchmark_driver.py
  examples/misc/hello_synapse.py
  examples/misc/profile_analysis.py
  examples/misc/running_mpi_executables.py
  examples/probing.py
  old_tests/test_da_scheduler/test_bw_tagging.py
  old_tests/test_da_scheduler/test_local_tagging.py
Labels: layer:rp, priority:medium, type:documentation

#1872 Feature/bulk cb
  .travis.yml
  examples/error_handling.py
  setup.py
  src/radical/pilot/agent/scheduler/archive/spark.py
  src/radical/pilot/agent/scheduler/archive/yarn.py
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/compute_pilot.py
  src/radical/pilot/compute_unit.py
  src/radical/pilot/configs/agent_default.json
  src/radical/pilot/configs/pmgr_default.json
  src/radical/pilot/configs/umgr_default.json
  src/radical/pilot/pilot_manager.py
  src/radical/pilot/umgr/scheduler/backfilling.py
  src/radical/pilot/umgr/scheduler/base.py
  src/radical/pilot/umgr/scheduler/round_robin.py
  src/radical/pilot/unit_manager.py
  src/radical/pilot/utils/misc.py
Labels: comp:pmgr, comp:umgr, priority:high, topic:api, topic:communication, topic:p3, type:enhancement
