Repository radical-cybertools/radical.pilot, pull requests merged in 2020-05, with the labels that each got.

#2137 Reorder init steps in Agent_0
  src/radical/pilot/agent/agent_0.py
Labels: comp:agent, priority:high, topic:execution, type:bug

#2138 Extra info for IBRun LM
  src/radical/pilot/agent/launch_method/ibrun.py
Labels: comp:agent:executor, priority:low, topic:resource, type:documentation

#2142 Separate tacc and xsede resources
  src/radical/pilot/configs/resource_tacc.json
  src/radical/pilot/configs/resource_xsede.json
Labels: comp:pmgr, priority:high, topic:configuration, topic:resource, type:refactor

#2116 fix queue naming, prte tmp dir
  src/radical/pilot/agent/launch_method/aprun.py
Labels: comp:agent:executor, priority:medium, topic:communication, topic:configuration, type:refactor

#2112 support for Princeton's Traverse cluster
  examples/00_getting_started.py
  examples/config.json
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/configs/resource_princeton.json
  src/radical/pilot/db/database.py
  src/radical/pilot/pmgr/launching/default.py
Labels: priority:high, topic:configuration, topic:resource, type:feature

#2099 Feature/fluxification
  bin/radical-pilot-agent
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/executing/base.py
  src/radical/pilot/agent/executing/flux.py
  src/radical/pilot/agent/launch_method/base.py
  src/radical/pilot/agent/launch_method/flux.py
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/flux.py
  src/radical/pilot/configs/resource_local.json
Labels: comp:agent:executor, comp:agent:scheduler, priority:medium, topic:execution, topic:resource, type:feature

#2149 Fixed flux import in base LM module
  src/radical/pilot/agent/launch_method/base.py
Labels: comp:agent:executor, priority:medium, type:bug
