Repository radical-cybertools/radical.pilot, pull requests merged in 2020-09, with the labels that each got.

#2222 Fix python stack on Summit
  src/radical/pilot/configs/resource_ornl.json
Labels: comp:agent:bootstrapper

#2213 Hotfix/prte profiling
  src/radical/pilot/agent/launch_method/prte.py
  tests/test_cases/unit.000000.json
  tests/test_cases/unit.000005.json
  tests/test_lm/test_unit/test_prte.py
Labels: topic:testing

#2212 Hotfix/sa startup
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/agent_n.py
  src/radical/pilot/pilot_manager.py
Labels: comp:agent, priority:critical, topic:configuration, topic:execution, type:bug

#2217 Added "tag" attribute to ComputeUnitDescription
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/compute_unit_description.py
  src/radical/pilot/configs/resource_ornl.json
Labels: priority:low, topic:api, type:enhancement

#2224 Launch method PRTE v2
  src/radical/pilot/agent/launch_method/base.py
  src/radical/pilot/agent/launch_method/prte2.py
  tests/test_cases/unit.000000.json
  tests/test_cases/unit.000002.json
  tests/test_cases/unit.000005.json
  tests/test_cases/unit.000007.json
  tests/test_lm/test_unit/test_prte2.py
Labels: comp:agent:executor, priority:medium, topic:execution, type:feature

#2204 allow `virtenv_mode=local` to reuse client ve
  docs/architecture/concepts/ve_separation/README.md
  docs/architecture/concepts/ve_separation/bootstrapper.sh
  docs/architecture/concepts/ve_separation/executor.py
  docs/architecture/concepts/ve_separation/modules/my_python
  docs/architecture/concepts/ve_separation/modules/my_python_dir/lib/os.py
  docs/architecture/concepts/ve_separation/runme.sh
  docs/architecture/concepts/ve_separation/test_conda.py
  docs/architecture/concepts/ve_separation/test_conda.sh
  docs/architecture/concepts/ve_separation/test_mod.py
  docs/architecture/concepts/ve_separation/test_mod.sh
  docs/architecture/concepts/ve_separation/test_sys.py
  docs/architecture/concepts/ve_separation/test_sys.sh
  docs/architecture/concepts/ve_separation/test_ve.py
  docs/architecture/concepts/ve_separation/test_ve.sh
  examples/config.json
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/configs/resource_ornl.json
  src/radical/pilot/pmgr/launching/default.py
Labels: comp:agent:bootstrapper, comp:pmgr:launcher, priority:medium, topic:configuration, topic:deployment, type:enhancement

#2228 fix jsrun gpu assignments
  src/radical/pilot/agent/launch_method/jsrun.py
  tests/test_cases/unit.000013.json
  tests/test_lm/test_unit/test_jsrun.py
Labels: comp:agent:executor, priority:critical, topic:resource, type:bug
