Repository radical-cybertools/radical.pilot, pull requests merged in 2020-07, with the labels that each got.

#2176 Hotfix/mpiexec hosts
  src/radical/pilot/agent/launch_method/mpiexec.py
  tests/test_cases/unit.000000.json
  tests/test_cases/unit.000003.json
  tests/test_cases/unit.000005.json
  tests/test_cases/unit.000009.json
Labels: comp:agent:executor, priority:high, topic:execution, topic:resource, type:bug

#2120 Feature/test schedulers
  .pylintrc
  src/radical/pilot/agent/scheduler/base.py
  tests/test_scheduler/test_unit/test_base.py
  tests/test_scheduler/test_unit/test_cases/test_base.json
  tests/test_scheduler/test_unit/test_cases_continuous/test_continuous.json
  tests/test_scheduler/test_unit/test_cases_continuous/unit.000000.json
  tests/test_scheduler/test_unit/test_cases_continuous/unit.000001.json
  tests/test_scheduler/test_unit/test_cases_continuous/unit.000002.json
  tests/test_scheduler/test_unit/test_cases_continuous/unit.000003.json
  tests/test_scheduler/test_unit/test_continuous.py
  tests/test_scheduler/test_unit/test_continuous_ordered.py
Labels: layer:rp, priority:critical, topic:testing, type:feature

#2182 Specify the real memory required per node
  src/radical/pilot/compute_pilot_description.py
  src/radical/pilot/pmgr/launching/default.py
Labels: comp:pmgr:launcher, priority:medium, topic:execution, type:feature

#2180 Fix for #1637
  docs/source/user_guide/09_mpi_units.rst
Labels: type:documentation

#2183 Updated resource config for Lassen
  src/radical/pilot/configs/resource_llnl.json
Labels: comp:pmgr:launcher, priority:medium, topic:configuration, topic:resource

#2187 Add Profiler instance into Publisher and Subscriber (zmq.pubsub)
  bin/radical-pilot-bridge
  bin/radical-pilot-component
  bin/radical-pilot-worker
  src/radical/pilot/utils/component.py
Labels: priority:medium, topic:profiling, type:bug

#2188 Add exception chaining
  setup.py
  src/radical/pilot/agent/executing/base.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/resource_manager/base.py
  src/radical/pilot/db/database.py
  src/radical/pilot/session.py
  src/radical/pilot/umgr/staging_input/base.py
  src/radical/pilot/umgr/staging_output/base.py
Labels: priority:low, topic:api, type:enhancement

#2190 Fix for `autopilot` in `Session` (library import handling)
  src/radical/pilot/session.py
Labels: comp:session, priority:low, type:autopilot, type:bug
