Repository radical-cybertools/radical.pilot, pull requests merged in 2021-09, with the labels that each got.

#2433 `prrte` on Summit (release 2.0.0)
  src/radical/pilot/agent/launch_method/prte2.py
  src/radical/pilot/configs/resource_ornl.json
Labels: priority:medium, topic:resource:summit

#2439 Hotfix/updated module list on Summit
  src/radical/pilot/configs/resource_ornl.json
  tests/integration_tests/batch_scripts/summit.sh
Labels: priority:high, topic:resource:summit, topic:configuration

#2446 Update modules for `prrte` on Summit
  src/radical/pilot/configs/resource_ornl.json
Labels: priority:medium, topic:resource:summit, topic:configuration

#2440 Support more :py:mod:`radical.pilot.X` links.
  docs/source/apidoc.rst
  docs/source/datastaging.rst
  docs/source/machconf.rst
  docs/source/overview.rst
  src/radical/pilot/pilot.py
Labels: type:documentation, priority:medium

#2430 Disable `os.setsid` in `rpa.executing.Popen`
  src/radical/pilot/agent/executing/popen.py
Labels: topic:execution, priority:medium, comp:agent:executor
