Repository radical-cybertools/radical.pilot, pull requests merged in 2021-02, with the labels that each got.

#2315 fix help string in bin/radical-pilot-create-static-ve
  bin/radical-pilot-create-static-ve
Labels: priority:medium, type:documentation

#2301 Feature/resource plots
  .pylintrc
  TODO
  examples/misc/raptor.cfg
  examples/misc/raptor.frontera.cfg
  examples/misc/raptor.py
  examples/misc/raptor.summit.cfg
  examples/misc/raptor_master.py
  examples/misc/raptor_worker.py
  examples/misc/rp_misc_updates.txt
  examples/misc/task_overlay.cfg
  src/radical/pilot/__init__.py
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/agent_n.py
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/configs/agent_default.json
  src/radical/pilot/db/database.py
  src/radical/pilot/pmgr/launching/default.py
  src/radical/pilot/raptor/__init__.py
  src/radical/pilot/raptor/master.py
  src/radical/pilot/raptor/request.py
  src/radical/pilot/raptor/worker.py
  src/radical/pilot/utils/component.py
  src/radical/pilot/utils/db_utils.py
  src/radical/pilot/utils/prof_utils.py
  src/radical/pilot/worker/update.py
  tests/unit_tests/test_scheduler/test_continuous.py
Labels: comp:session, layer:analytics, priority:medium, topic:profiling, type:feature

#2316 Keep default cfg without sub-agent
  src/radical/pilot/configs/agent_default.json
Labels: priority:high, topic:configuration

#2303 PRTE2 (multi-DVM)
  .github/workflows/python-app.yml
  src/radical/pilot/agent/launch_method/prte2.py
  src/radical/pilot/agent/resource_manager/base.py
  src/radical/pilot/agent/resource_manager/lsf_summit.py
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/continuous.py
  tests/unit_tests/test_cases/task.000000.json
  tests/unit_tests/test_cases/task.000003.json
  tests/unit_tests/test_cases/task.000005.json
  tests/unit_tests/test_cases/task.000006.json
  tests/unit_tests/test_rm/test_base.py
  tests/unit_tests/test_scheduler/test_continuous.py
Labels: comp:agent:executor, priority:medium, type:enhancement

#2326 add missing entry
  src/radical/pilot/utils/prof_utils.py
Labels: priority:critical, topic:profiling, type:bug

#2327 Updated RM LSF_SUMMIT the same way as RM base class (partitions and prte related)
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/launch_method/prte.py
  src/radical/pilot/agent/launch_method/prte2.py
  src/radical/pilot/agent/resource_manager/base.py
  src/radical/pilot/agent/resource_manager/lsf_summit.py
  tests/unit_tests/test_cases/task.000000.json
  tests/unit_tests/test_cases/task.000003.json
  tests/unit_tests/test_cases/task.000004.json
  tests/unit_tests/test_cases/task.000005.json
  tests/unit_tests/test_cases/task.000006.json
  tests/unit_tests/test_cases/task.000007.json
  tests/unit_tests/test_cases/task.000008.json
  tests/unit_tests/test_cases/task.000009.json
  tests/unit_tests/test_cases/task.000013.json
  tests/unit_tests/test_lm/test_common.py
  tests/unit_tests/test_lm/test_jsrun.py
  tests/unit_tests/test_rm/test_lsf_summit.py
Labels: priority:high, topic:resource, type:bug

#2332 Updating resource configs
  examples/config.json
  src/radical/pilot/configs/resource_xsede.json
Labels: topic:configuration, topic:resource
