Repository radical-cybertools/radical.pilot, pull requests merged in 2021-01, with the labels that each got.

#2297 Fixed traverse config
  src/radical/pilot/configs/resource_princeton.json
Labels: priority:medium, topic:configuration, type:bug

#2201 move staging ops into separate worker
  .flake8
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/compute_pilot.py
  src/radical/pilot/configs/session_default.json
  src/radical/pilot/constants.py
  src/radical/pilot/pilot_manager.py
  src/radical/pilot/pmgr/launching/default.py
  src/radical/pilot/staging_directives.py
  src/radical/pilot/umgr/staging_input/default.py
  src/radical/pilot/utils/component.py
  src/radical/pilot/worker/__init__.py
  src/radical/pilot/worker/stager.py
Labels: comp:pmgr, priority:high, topic:data, type:enhancement, type:feature

#2298 fix node counting for FORK rm
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/resource_manager/fork.py
  tests/unit_tests/test_agent_0/test_agent_0.py
  tests/unit_tests/test_rm/test_fork.py
Labels: priority:high, topic:resource, type:bug

#2299 fix bootstrapper timestamps and resource details
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/compute_pilot.py
  src/radical/pilot/utils/prof_utils.py
Labels: comp:agent:bootstrapper, priority:critical, topic:profiling, type:bug

#2254 PRRTE multi-DVM
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/launch_method/prte.py
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/configs/agent_default_sa.json
  src/radical/pilot/configs/resource_ornl.json
  src/radical/pilot/configs/resource_tacc.json
  src/radical/pilot/pmgr/launching/default.py
  tests/unit_tests/test_cases/unit.000000.json
  tests/unit_tests/test_cases/unit.000003.json
  tests/unit_tests/test_cases/unit.000005.json
  tests/unit_tests/test_cases/unit.000006.json
  tests/unit_tests/test_scheduler/test_continuous.py
Labels: comp:agent:executor, priority:medium, topic:execution, type:feature

#2300 Hotfix/tags
  src/radical/pilot/agent/scheduler/continuous.py
  tests/unit_tests/test_scheduler/test_cases_continuous/unit.000001.json
  tests/unit_tests/test_scheduler/test_continuous.py
Labels: comp:agent:scheduler, priority:critical, type:bug
