Repository radical-cybertools/radical.pilot, pull requests merged in 2021-06, with the labels that each got.

#2395 Resolve a "FIXME"
  src/radical/pilot/session.py
Labels: comp:session, priority:medium, type:enhancement

#2406 Added test for PR #2395
  tests/component_tests/test_session.py
Labels: comp:session, priority:medium, topic:testing

#2405 Fix/issue 2129
  src/radical/pilot/agent/scheduler/base.py
  tests/unit_tests/test_scheduler/test_base.py
Labels: comp:agent:scheduler, priority:high, topic:resource, type:enhancement
