Repository radical-cybertools/radical.pilot, pull requests merged in 2022-11, with the labels that each got.

#2744 agent does not need to pull failed tasks
  src/radical/pilot/tmgr/staging_input/base.py
  src/radical/pilot/tmgr/staging_input/default.py
  src/radical/pilot/tmgr/staging_output/base.py
  tests/unit_tests/test_agent_stagein/test_default.py
  tests/unit_tests/test_tmgr/__init__.py
  tests/unit_tests/test_tmgr/test_cases/task.000000.json
  tests/unit_tests/test_tmgr/test_tmgr_staging.py
Labels: type:bug, topic:communication, priority:high, comp:tmgr:stager, comp:tmgr

#2751 Fix/raptor profiles
  docs/source/events.md
  examples/misc/raptor.cfg
  examples/misc/raptor.py
  examples/misc/raptor_master.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/executing/sleep.py
  src/radical/pilot/raptor/master.py
  src/radical/pilot/raptor/worker_default.py
  src/radical/pilot/raptor/worker_mpi.py
  src/radical/pilot/utils/prof_utils.py
Labels: type:enhancement, priority:medium, topic:profiling, comp:raptor

#2761 Fixed values for requested resources
  src/radical/pilot/agent/resource_manager/fork.py
  src/radical/pilot/configs/resource_rutgers.json
  src/radical/pilot/pmgr/launching/base.py
  tests/unit_tests/test_launcher/test_launcher.py
  tests/unit_tests/test_rm/test_fork.py
Labels: type:bug, priority:medium, comp:pmgr:launcher

#2764 simplify serialization code
  src/radical/pilot/utils/serializer.py
  tests/unit_tests/test_serializer.py
Labels: topic:api, priority:low, type:refactor

#2779 support schema aliases in resource configs
  src/radical/pilot/session.py
  tests/component_tests/test_session.py
Labels: topic:api, type:enhancement, priority:medium, comp:session, topic:configuration
