Repository radical-cybertools/radical.pilot, pull requests merged in 2022-03, with the labels that each got.

#2533 local execution needs to check FORK first
  src/radical/pilot/configs/resource_local.json
Labels: type:bug, priority:high, comp:agent:executor, topic:configuration

#2540 clean up temp setup files
  setup.py
Labels: type:enhancement, priority:medium, topic:deployment

#2552 Resource config for Crusher@OLCF/ORNL
  src/radical/pilot/configs/resource_ornl.json
Labels: topic:resource, priority:medium, topic:configuration

#2331 Feature/nodes
  examples/00_getting_started.py
  src/radical/pilot/agent/resource_manager/base.py
  src/radical/pilot/agent/resource_manager/lsf.py
  src/radical/pilot/configs/resource_anl.json
  src/radical/pilot/configs/resource_debug.json
  src/radical/pilot/configs/resource_llnl.json
  src/radical/pilot/configs/resource_ncar.json
  src/radical/pilot/configs/resource_ornl.json
  src/radical/pilot/pilot.py
  src/radical/pilot/pilot_description.py
  src/radical/pilot/pilot_manager.py
  src/radical/pilot/pmgr/launching/default.py
  tests/unit_tests/test_launcher/test_launcher.py
  tests/unit_tests/test_pilot/test_pilot.py
  tests/unit_tests/test_rm/test_base.py
  tests/unit_tests/test_rm/test_cases/test_cores_gpus_map.json
Labels: topic:api, type:enhancement, priority:medium, comp:pmgr:launcher

#2557 Fixed resource configuration for `jsrun`
  src/radical/pilot/configs/resource_ornl.json
Labels: priority:medium, topic:resource:summit, topic:configuration

#2555 remove default dburl
  src/radical/pilot/configs/session_default.json
  src/radical/pilot/session.py
Labels: type:enhancement, priority:medium, comp:session, topic:configuration
