Repository radical-cybertools/radical.pilot, pull requests merged in 2022-05, with the labels that each got.

#2596 Raptor worker pre_exec
  src/radical/pilot/raptor/master.py
Labels: type:feature, type:enhancement, layer:rp, priority:high, comp:raptor

#2598 Intermediate PR to get some `prepare_env` changes released
  src/radical/pilot/agent/launch_method/ibrun.py
  src/radical/pilot/raptor/master.py
  tests/unit_tests/test_lm/test_ibrun.py
  tests/unit_tests/test_lm/test_srun.py
Labels: topic:execution, type:enhancement, priority:medium, comp:agent, topic:deployment, comp:raptor

#2582 Updated PRTE LM
  src/radical/pilot/agent/launch_method/prte.py
  src/radical/pilot/configs/resource_ornl.json
  tests/unit_tests/test_lm/test_cases/task.000005.json
  tests/unit_tests/test_lm/test_prte.py
Labels: type:bug, type:enhancement, priority:medium, topic:resource:summit

#2599 anaconda support for `prepare_env`
  bin/radical-pilot-agent
  bin/radical-pilot-create-static-ve
  examples/misc/raptor.py
  examples/misc/raptor_master.py
  examples/misc/raptor_worker.py
  setup.py
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/pilot.py
  src/radical/pilot/pytask.py
  src/radical/pilot/raptor/master.py
  src/radical/pilot/raptor/request.py
  src/radical/pilot/raptor/worker_default.py
  src/radical/pilot/raptor/worker_mpi.py
Labels: topic:resource, type:enhancement, priority:high, comp:agent, topic:configuration

#2586 Minor formatting errors.
  src/radical/pilot/task_description.py
Labels: type:documentation, priority:medium

#2587 Misspelled doc name.
  docs/source/user_guide/index.rst
Labels: type:documentation, priority:medium

#2496 updating PMGR/AGENT stats related #2401
  bin/radical-pilot-close-session
  bin/radical-pilot-fetch-json
  bin/radical-pilot-inspect
  bin/radical-pilot-stats
  src/radical/pilot/utils/db_utils.py
  src/radical/pilot/utils/prof_utils.py
  src/radical/pilot/utils/session.py
Labels: type:bug, layer:rp, priority:low

#2605 fixed db-url references (no default db url)
  bin/radical-pilot-stats
Labels: type:bug, priority:medium

#2603 fix raptor env vals
  src/radical/pilot/raptor/worker_mpi.py
Labels: layer:rct, layer:rp, priority:high, comp:raptor

#2579 Updates for Sphinx builds.
  docs/source/conf.py
  docs/source/requirements_docs.txt
Labels: type:documentation, priority:medium

#2607 Status callback for SAGA Launcher
  src/radical/pilot/pmgr/launching/base.py
  src/radical/pilot/pmgr/launching/saga.py
Labels: type:bug, topic:execution, priority:high, comp:pmgr:launcher

#2614 adding xsede.expanse to the resource config
  examples/config.json
  src/radical/pilot/configs/resource_xsede.json
Labels: layer:rct, layer:rp, priority:low, topic:deployment, topic:configuration

#2611 Fix staging
  src/radical/pilot/agent/staging_input/base.py
  src/radical/pilot/agent/staging_input/default.py
  src/radical/pilot/agent/staging_output/default.py
Labels: type:bug, priority:medium, comp:agent:stager

#2619 Remove node names duplication in SRun LM command
  src/radical/pilot/agent/launch_method/srun.py
Labels: topic:execution, priority:medium
