Repository radical-cybertools/radical.pilot, pull requests merged in 2022-07, with the labels that each got.

#2634 ensure pip in venv mode
  bin/radical-pilot-create-static-ve
  src/radical/pilot/agent/agent_0.py
Labels: topic:resource, type:enhancement, priority:medium, comp:agent:bootstrapper, comp:agent, topic:configuration

#2633 always interprete version request
  bin/radical-pilot-create-static-ve
Labels: type:bug, topic:resource, priority:medium, comp:agent:bootstrapper, comp:agent, topic:configuration

#2632 Checking input staging exists before tar-ing Fixes #2483
  src/radical/pilot/pmgr/launching/base.py
Labels: type:bug, priority:medium, comp:pmgr:launcher

#2629 shield an rstrip call
  src/radical/pilot/agent/agent_0.py
Labels: type:bug, priority:high, comp:agent, topic:deployment

#2635 fixed typo in `create-static-ve` script
  bin/radical-pilot-create-static-ve
Labels: type:bug, priority:medium, topic:deployment

#2641 Updated mpi-info extraction
  src/radical/pilot/agent/launch_method/base.py
  tests/unit_tests/test_lm/test_base.py
Labels: type:bug, topic:execution, type:enhancement, priority:medium

#2647 Fixed uid generation for components (use shared file for counters)
  src/radical/pilot/utils/component.py
Labels: type:bug, priority:medium, comp:agent, topic:configuration

#2648 Updated exec profile events
  docs/source/events.md
  src/radical/pilot/agent/executing/funcs.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/executing/sleep.py
  src/radical/pilot/utils/prof_utils.py
Labels: type:bug, layer:analytics, priority:medium, comp:agent:executor, topic:profiling

#2644 fix rp serializer unittest
  src/radical/pilot/utils/serializer.py
  tests/unit_tests/test_serializer.py
Labels: topic:testing, layer:rp, priority:high

#2646 Fix/issue 2645
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/configs/agent_default_sa.json
  tests/unit_tests/test_agent_0/test_agent_0.py
Labels: priority:critical, comp:agent
