Repository radical-cybertools/radical.pilot, pull requests merged in 2022-04, with the labels that each got.

#2567 Fix/issue 2556
  src/radical/pilot/session.py
Labels: layer:rp, priority:medium, comp:session

#2571 Add RG (`radical.gtod`) as a dependency
  setup.py
Labels: priority:medium, topic:deployment

#2572 Fixed session path
  src/radical/pilot/session.py
Labels: type:bug, priority:medium, comp:session

#2568 Fix `processes_per_host` for SAGA job description
  src/radical/pilot/pmgr/launching/default.py
Labels: type:bug, layer:saga, priority:medium, comp:pmgr:launcher

#2576 Update Spock endpoints in resource config
  src/radical/pilot/configs/resource_ornl.json
Labels: priority:medium, topic:configuration

#2574 re-apply psi-j diff
  examples/00_getting_started.py
  src/radical/pilot/__init__.py
  src/radical/pilot/agent/resource_manager/base.py
  src/radical/pilot/agent/scheduler/continuous_colo.py
  src/radical/pilot/configs/resource_debug.json
  src/radical/pilot/configs/resource_local.json
  src/radical/pilot/constants.py
  src/radical/pilot/pilot_manager.py
  src/radical/pilot/pmgr/launching/base.py
  src/radical/pilot/pmgr/launching/default.py
  src/radical/pilot/pmgr/launching/psi_j.py
  src/radical/pilot/pmgr/launching/saga.py
  src/radical/pilot/raptor/worker_mpi.py
  src/radical/pilot/task_description.py
  src/radical/pilot/utils/component.py
  src/radical/pilot/utils/prof_utils.py
  tests/unit_tests/test_launcher/test_launcher.py
  tests/unit_tests/test_rm/test_base.py
  tests/unit_tests/test_rm/test_cases/test_cores_gpus_map.json
  tests/unit_tests/test_task/test_task.py
Labels: type:feature, topic:execution, priority:high, comp:pmgr:launcher

#2580 Fix IBRun LM
  src/radical/pilot/agent/launch_method/ibrun.py
  tests/unit_tests/test_lm/test_ibrun.py
Labels: type:bug, topic:execution, priority:medium, comp:agent:executor

#2597 Fix Ibrun set rank env
  src/radical/pilot/agent/launch_method/ibrun.py
  tests/unit_tests/test_lm/test_ibrun.py
  tests/unit_tests/test_lm/test_srun.py
Labels: type:feature, type:enhancement, layer:rp, priority:high, comp:raptor
