Repository radical-cybertools/radical.pilot, pull requests merged in 2022-10, with the labels that each got.

#2718 clarify endpoint URLs point to /
  src/radical/pilot/staging_directives.py
  src/radical/pilot/utils/misc.py
Labels: topic:documentation, topic:api, type:enhancement, priority:medium, comp:tmgr:stager

#2725 make sure we issue a `bootstrap_0_stop` event
  src/radical/pilot/agent/bootstrap_0.sh
Labels: type:bug, priority:high, comp:agent:bootstrapper, topic:profiling

#2662 better raptor profiling
  examples/misc/raptor.py
  examples/misc/raptor_master.py
  src/radical/pilot/__init__.py
  src/radical/pilot/agent/executing/sleep.py
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/db/database.py
  src/radical/pilot/pmgr/launching/base.py
  src/radical/pilot/raptor/master.py
  src/radical/pilot/raptor/worker.py
  src/radical/pilot/raptor/worker_mpi.py
  src/radical/pilot/task.py
  src/radical/pilot/task_description.py
  src/radical/pilot/utils/component.py
  src/radical/pilot/utils/prof_utils.py
  tests/unit_tests/test_scheduler/test_base.py
  tests/unit_tests/test_scheduler/test_continuous.py
Labels: type:enhancement, priority:medium, topic:profiling, comp:raptor

#2719 Introduced 2 JSRun LMs: `JSRUN` and `JSRUN_ERF`
  src/radical/pilot/agent/launch_method/base.py
  src/radical/pilot/agent/launch_method/jsrun.py
  tests/unit_tests/test_lm/test_cases/task.000000.json
  tests/unit_tests/test_lm/test_cases/task.000001.json
  tests/unit_tests/test_lm/test_cases/task.000003.json
  tests/unit_tests/test_lm/test_cases/task.000005.json
  tests/unit_tests/test_lm/test_cases/task.000006.json
  tests/unit_tests/test_lm/test_cases/task.000007.json
  tests/unit_tests/test_lm/test_cases/task.000013.json
  tests/unit_tests/test_lm/test_cases/task.000014.json
  tests/unit_tests/test_lm/test_jsrun.py
Labels: type:enhancement, priority:high, comp:agent:executor, topic:resource:summit

#2729 Fix/issue 2727
  examples/misc/raptor_master.py
  src/radical/pilot/raptor/worker.py
Labels: topic:api, type:enhancement, priority:low, comp:raptor

#2752 env values must be strings
  src/radical/pilot/pmgr/launching/base.py
  tests/unit_tests/test_launcher/test_launcher.py
Labels: type:bug, priority:critical, topic:execution, comp:pmgr:launcher

#2753 Fixed example
  examples/00_getting_started.py
Labels: topic:testing, priority:medium

#2755 Added possibility to set option `cpus-per-task` off for SRun LM
  src/radical/pilot/agent/launch_method/srun.py
Labels: topic:execution, type:enhancement, priority:medium

#2754 RM node uids
  src/radical/pilot/agent/resource_manager/base.py
  src/radical/pilot/agent/resource_manager/debug.py
  src/radical/pilot/agent/resource_manager/fork.py
  src/radical/pilot/agent/resource_manager/lsf.py
Labels: type:enhancement, priority:medium
