Repository radical-cybertools/radical.pilot, pull requests merged in 2022-08, with the labels that each got.

#2656 Fixed `task['resources']` value
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/raptor/worker_default.py
  tests/test_raptor/test_raptor.py
  tests/unit_tests/test_scheduler/test_cases/task.000000.json
  tests/unit_tests/test_scheduler/test_continuous.py
Labels: type:bug, priority:medium, comp:agent:scheduler

#2657 Fixed `cpu_threads` for special tasks (service, sub-agent)
  src/radical/pilot/agent/agent_0.py
  tests/unit_tests/test_agent_0/test_agent_0.py
Labels: type:bug, priority:medium, comp:agent, topic:configuration

#2640 skip master tasks when getting tasks info
  src/radical/pilot/utils/prof_utils.py
Labels: type:bug, layer:rp, priority:high, topic:profiling

#2658 Fixed environment setup for LMs MPIRun, MPIExec and IBRun
  src/radical/pilot/agent/launch_method/ibrun.py
  src/radical/pilot/agent/launch_method/mpiexec.py
  src/radical/pilot/agent/launch_method/mpirun.py
  tests/unit_tests/test_lm/test_cases/task.000000.json
  tests/unit_tests/test_lm/test_cases/task.000001.json
  tests/unit_tests/test_lm/test_cases/task.000002.json
  tests/unit_tests/test_lm/test_cases/task.000003.json
  tests/unit_tests/test_lm/test_cases/task.000004.json
  tests/unit_tests/test_lm/test_cases/task.000005.json
  tests/unit_tests/test_lm/test_cases/task.000006.json
  tests/unit_tests/test_lm/test_cases/task.000007.json
  tests/unit_tests/test_lm/test_cases/task.000009.json
  tests/unit_tests/test_lm/test_cases/task.000011.json
  tests/unit_tests/test_lm/test_cases/task.000012.json
  tests/unit_tests/test_lm/test_cases/task.000013.json
  tests/unit_tests/test_lm/test_ibrun.py
  tests/unit_tests/test_lm/test_mpiexec.py
  tests/unit_tests/test_lm/test_mpirun.py
Labels: type:bug, priority:medium, comp:agent:executor

#2638 Remove redis_link attributes from raptor example
  examples/misc/raptor.py
Labels: type:enhancement, layer:rp, priority:low

#2661 stage_in.target fix for absolute path Fixes #2590
  src/radical/pilot/pilot.py
  src/radical/pilot/session.py
Labels: type:bug, layer:rp, priority:high, comp:tmgr:stager

#2670 Fixed session cache
  src/radical/pilot/utils/db_utils.py
  tests/unit_tests/test_utils.py
Labels: type:bug, priority:high, comp:session, topic:profiling

#2672 linting
  bin/radical-pilot-agent-funcs
  bin/radical-pilot-run-session
  examples/09_mpi_tasks.py
  examples/misc/colocated.py
  examples/misc/hello_synapse.py
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/executing/flux.py
  src/radical/pilot/agent/executing/funcs.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/executing/sleep.py
  src/radical/pilot/agent/resource_manager/base.py
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/agent/scheduler/continuous_colo.py
  src/radical/pilot/agent/scheduler/continuous_ordered.py
  src/radical/pilot/agent/scheduler/flux.py
  src/radical/pilot/agent/scheduler/hombre.py
  src/radical/pilot/agent/staging_input/default.py
  src/radical/pilot/agent/staging_output/default.py
  src/radical/pilot/pilot.py
  src/radical/pilot/pilot_manager.py
  src/radical/pilot/pmgr/launching/base.py
  src/radical/pilot/pmgr/launching/psi_j.py
  src/radical/pilot/pmgr/launching/saga.py
  src/radical/pilot/raptor/master.py
  src/radical/pilot/raptor/worker_mpi.py
  src/radical/pilot/session.py
  src/radical/pilot/task.py
  src/radical/pilot/task_manager.py
  src/radical/pilot/utils/component.py
  src/radical/pilot/utils/prof_utils.py
  src/radical/pilot/worker/stager.py
Labels: priority:medium, type:refactor

#2664 added `--threads-per-core` option (LM SRun)
  src/radical/pilot/agent/launch_method/srun.py
  src/radical/pilot/configs/resource_ornl.json
  tests/unit_tests/test_lm/test_cases/task.000014.json
  tests/unit_tests/test_lm/test_srun.py
Labels: type:feature, layer:saga, topic:execution, layer:rp, priority:medium, comp:agent:executor

#2675 revive SDSC comet resource config
  src/radical/pilot/configs/resource_xsede.json
Labels: topic:resource, layer:rp, priority:low, topic:configuration

#2679 Removed duplication call for `stop` method (`Agent_0`)
  src/radical/pilot/agent/agent_0.py
Labels: topic:termination, type:enhancement, priority:medium, comp:agent
