Repository radical-cybertools/radical.pilot, pull requests merged in 2022-12, with the labels that each got.

#2787 bump python test env to 3.7
  .github/workflows/python-app.yml
  bin/radical-pilot-create-static-ve
  docs/source/faq.rst
  docs/source/installation.rst
  examples/12_task_env.py
  src/radical/pilot/pilot.py
Labels: topic:testing, layer:rct, priority:high, type:refactor

#2765 Feature/task error details
  src/radical/pilot/agent/executing/flux.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/executing/sleep.py
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/staging_output/default.py
  src/radical/pilot/pilot_manager.py
  src/radical/pilot/pmgr/launching/base.py
  src/radical/pilot/pmgr/launching/psi_j.py
  src/radical/pilot/raptor/worker_default.py
  src/radical/pilot/raptor/worker_mpi.py
  src/radical/pilot/staging_directives.py
  src/radical/pilot/task.py
  src/radical/pilot/task_manager.py
  src/radical/pilot/tmgr/staging_input/default.py
  src/radical/pilot/utils/component.py
  src/radical/pilot/worker/stager.py
Labels: topic:api, type:enhancement, priority:high

#2789 fix docs
  .readthedocs.yml
  LICENSE.md
  docs/source/conf.py
  requirements-docs.txt
  requirements-tests.txt
  requirements.txt
  setup.py
Labels: topic:documentation, type:enhancement, priority:high

#2788 update RM PBSPro
  src/radical/pilot/agent/resource_manager/pbspro.py
  tests/unit_tests/test_rm/test_cases/nodelist.pbs
  tests/unit_tests/test_rm/test_pbspro.py
  tests/unit_tests/test_rm/test_torque.py
Labels: topic:resource, priority:medium

#2745 implement task timeout for popen executor
  examples/00_getting_started.py
  src/radical/pilot/agent/executing/base.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/task_description.py
  tests/test_raptor/test_raptor.py
  tests/unit_tests/test_executing/test_popen.py
Labels: type:feature, topic:api, topic:execution, priority:medium, comp:agent:executor

#2780 fix worker state statistics
  src/radical/pilot/raptor/master.py
  tests/unit_tests/test_raptor/__init__.py
  tests/unit_tests/test_raptor/test_master.py
Labels: type:bug, topic:execution, priority:medium, comp:raptor

#2798 ensure requirements are added to sdist
  MANIFEST.in
Labels: type:bug, priority:critical, topic:deployment

#2801 Feature/interactive amarel
  src/radical/pilot/configs/resource_rutgers.json
Labels: topic:resource, priority:critical, type:enhancement
