Repository radical-cybertools/radical.pilot, pull requests merged in 2023-01, with the labels that each got.

#2804 ensure retval copy, unique task IDs
  examples/misc/raptor.py
  examples/misc/raptor_master.py
  examples/misc/raptor_worker.py
  src/radical/pilot/raptor/worker_mpi.py
  src/radical/pilot/task.py
Labels: type:bug, topic:communication, priority:high, comp:raptor

#2805 fixed inconsistency in launching order if some LMs failed to be created
  src/radical/pilot/agent/resource_manager/base.py
  tests/unit_tests/test_rm/test_base.py
Labels: type:bug, priority:high, topic:configuration

#2806 Modify resource_anl.json to support polaris machine on ANL.
  src/radical/pilot/configs/resource_anl.json
Labels: type:feature, priority:medium, topic:configuration

#2808 Fix/register mode
  examples/misc/raptor_master.py
  examples/misc/raptor_worker.py
  src/radical/pilot/raptor/__init__.py
  src/radical/pilot/raptor/master.py
  src/radical/pilot/raptor/worker_mpi.py
Labels: topic:execution, type:enhancement, priority:medium, topic:configuration, comp:raptor

#2817 ensure descr defaults and backward compatibility
  src/radical/pilot/raptor/master.py
Labels: type:bug, priority:medium, topic:configuration, comp:raptor

#2820 Set `blocked_cores/gpus` part of `system_architecture` in resource config
  src/radical/pilot/agent/resource_manager/base.py
  src/radical/pilot/configs/resource_access.json
  src/radical/pilot/configs/resource_ornl.json
  src/radical/pilot/pmgr/launching/base.py
  tests/unit_tests/test_rm/test_cases/test_cores_gpus_map.json
Labels: type:feature, topic:resource, priority:medium, comp:pmgr:launcher, topic:configuration
