Repository radical-cybertools/radical.pilot, pull requests merged in 2023-02, with the labels that each got.

#2826 fixed `ranks_per_node` calculation (APRun LM)
  src/radical/pilot/agent/launch_method/aprun.py
  tests/unit_tests/test_lm/test_aprun.py
  tests/unit_tests/test_lm/test_cases/task.000010.json
  tests/unit_tests/test_lm/test_cases/task.000016.json
Labels: type:bug, topic:execution, priority:high

#2829 New parameter `new_session_per_task` in resource configuration
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/configs/resource_anl.json
  tests/unit_tests/test_executing/test_popen.py
Labels: type:bug, topic:execution, priority:medium, comp:agent:executor, topic:configuration

#2834 removed `gpus_per_node` from Bridges config
  src/radical/pilot/configs/resource_access.json
Labels: type:bug, priority:high, topic:configuration

#2836 added rank env variable for MPIExec LM
  src/radical/pilot/agent/launch_method/mpiexec.py
  tests/unit_tests/test_lm/test_mpiexec.py
Labels: type:bug, topic:execution, type:enhancement, priority:high

#2830 allow access to full node memory by default
  src/radical/pilot/agent/launch_method/srun.py
  tests/unit_tests/test_lm/test_cases/task.000010.json
  tests/unit_tests/test_lm/test_cases/task.000014.json
Labels: topic:resource, priority:critical, type:enhancement, comp:agent:executor

#2778 agent services
  examples/agent_services.py
  src/radical/pilot/__init__.py
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/pilot_description.py
  src/radical/pilot/pmgr/launching/base.py
  src/radical/pilot/states.py
  src/radical/pilot/task_description.py
  src/radical/pilot/utils/session.py
  tests/component_tests/test_pilot_rpc.py
  tests/unit_tests/test_agent_0/test_agent_0.py
Labels: type:feature, comp:agent
