Repository radical-cybertools/radical.pilot, pull requests merged in 2023-06, with the labels that each got.

#2957 fixed env dumping for RP Agent
  bin/radical-pilot-create-static-ve
  src/radical/pilot/agent/agent_0.py
Labels: type:bug, priority:high, comp:agent:bootstrapper, topic:configuration

#2956 fix a typo
  docs/source/tutorials/raptor.ipynb
Labels: topic:documentation, layer:rp, comp:raptor

#2959 move back to python3.7
  src/radical/pilot/configs/resource_uva.json
Labels: layer:rp, comp:agent:bootstrapper, topic:configuration

#2926 Feature/use registry
  bin/radical-pilot-agent
  bin/radical-pilot-bridge
  bin/radical-pilot-component
  concepts/registry.txt
  concepts/zmq/server.py
  examples/12_task_env.py
  examples/misc/raptor.cfg
  examples/misc/raptor.py
  examples/misc/raptor_master.py
  requirements.txt
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/agent_n.py
  src/radical/pilot/agent/executing/base.py
  src/radical/pilot/agent/executing/flux.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/resource_manager/base.py
  src/radical/pilot/agent/resource_manager/fork.py
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/flux.py
  src/radical/pilot/configs/agent_default.json
  src/radical/pilot/configs/agent_default_sa.json
  src/radical/pilot/configs/session_default.json
  src/radical/pilot/db/database.py
  src/radical/pilot/pilot_manager.py
  src/radical/pilot/pmgr/launching/base.py
  src/radical/pilot/pmgr/launching/saga.py
  src/radical/pilot/raptor/master.py
  src/radical/pilot/raptor/worker.py
  src/radical/pilot/raptor/worker_default.py
  src/radical/pilot/session.py
  src/radical/pilot/staging_directives.py
  src/radical/pilot/task_manager.py
  src/radical/pilot/tmgr/staging_input/default.py
  src/radical/pilot/tmgr/staging_output/default.py
  src/radical/pilot/utils/component.py
  src/radical/pilot/worker/stager.py
  src/radical/pilot/worker/update.py
  tests/component_tests/test_component.py
  tests/component_tests/test_session.py
  tests/test_raptor/test_raptor.py
  tests/unit_tests/test_executing/test_base.py
  tests/unit_tests/test_executing/test_popen.py
  tests/unit_tests/test_rm/test_base.py
  tests/unit_tests/test_scheduler/test_base.py
Labels: priority:medium, topic:configuration, type:refactor

#2961 ensure that conda shell functions are exported
  src/radical/pilot/agent/bootstrap_0.sh
Labels: type:enhancement, priority:high, comp:agent:bootstrapper

#2945 Tracing tutorial
  docs/source/internals.rst
  docs/source/tutorials/profiling.ipynb
  requirements-docs.txt
Labels: topic:documentation

#2964 fix raptor modes in examples
  examples/misc/raptor.cfg
Labels: priority:critical, comp:raptor

#2962 move timeout into `kill_pilots` method to delay forced termination
  src/radical/pilot/pilot_manager.py
  tests/unit_tests/test_pmgr.py
Labels: topic:termination, type:enhancement
