Repository radical-cybertools/radical.pilot, pull requests merged in 2023-03, with the labels that each got.

#2832 Introduced GPU sharing for JSRun LM
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/launch_method/jsrun.py
  src/radical/pilot/agent/launch_method/mpirun.py
  src/radical/pilot/agent/launch_method/srun.py
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/agent/scheduler/continuous_colo.py
  src/radical/pilot/raptor/master.py
  src/radical/pilot/task_description.py
  tests/unit_tests/test_executing/test_cases/test_base.json
  tests/unit_tests/test_executing/test_popen.py
  tests/unit_tests/test_lm/test_cases/task.000000.json
  tests/unit_tests/test_lm/test_cases/task.000001.json
  tests/unit_tests/test_lm/test_cases/task.000003.json
  tests/unit_tests/test_lm/test_cases/task.000004.json
  tests/unit_tests/test_lm/test_cases/task.000005.json
  tests/unit_tests/test_lm/test_cases/task.000006.json
  tests/unit_tests/test_lm/test_cases/task.000007.json
  tests/unit_tests/test_lm/test_cases/task.000013.json
  tests/unit_tests/test_lm/test_cases/task.000014.json
  tests/unit_tests/test_lm/test_cases/task.000015.json
  tests/unit_tests/test_lm/test_cases/task.000017.json
  tests/unit_tests/test_lm/test_cases/task.000018.json
  tests/unit_tests/test_lm/test_jsrun.py
  tests/unit_tests/test_lm/test_mpirun.py
  tests/unit_tests/test_lm/test_srun.py
  tests/unit_tests/test_raptor/test_master.py
  tests/unit_tests/test_scheduler/test_base.py
  tests/unit_tests/test_scheduler/test_cases/task.000000.json
  tests/unit_tests/test_scheduler/test_cases/task.000001.json
  tests/unit_tests/test_scheduler/test_cases/task.000002.json
  tests/unit_tests/test_scheduler/test_continuous.py
Labels: type:feature, topic:execution, priority:high, comp:agent:executor, comp:agent:scheduler

#2846 Extend testing capabilities (cover python versions)
  .github/workflows/ci.yml
  .github/workflows/python-app.yml
  .github/workflows/python-publish.yml
  README.md
  requirements-tests.txt
Labels: topic:testing, type:enhancement, layer:rct, priority:medium, topic:deployment

#2847 move from custom virtualenv version to `venv` module
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/configs/resource_anl.json
  src/radical/pilot/configs/resource_debug.json
  src/radical/pilot/configs/resource_llnl.json
  src/radical/pilot/configs/resource_ncar.json
  src/radical/pilot/configs/resource_ornl.json
  src/radical/pilot/configs/resource_rutgers.json
  src/radical/pilot/pmgr/launching/base.py
Labels: type:bug, priority:high, comp:agent:bootstrapper, topic:deployment, topic:configuration

#2844 fixed tasks binding (e.g., bind task to a certain number of cores)
  src/radical/pilot/agent/launch_method/jsrun.py
  tests/unit_tests/test_lm/test_cases/task.000006.json
  tests/unit_tests/test_lm/test_cases/task.000017.json
Labels: type:bug, topic:execution, type:enhancement, comp:agent:executor

#2861 Fix/issue 2739
  src/radical/pilot/task_description.py
Labels: topic:documentation, topic:api, layer:rp, comp:raptor

#2857 RM Slurm will set `gpus_per_node` if it is not configured
  src/radical/pilot/agent/resource_manager/slurm.py
  tests/unit_tests/test_rm/test_slurm.py
Labels: topic:resource, type:enhancement

#2872 ref complete_url docs
  src/radical/pilot/pilot.py
  src/radical/pilot/task_description.py
Labels: topic:documentation, topic:api, type:enhancement, priority:medium, comp:tmgr, comp:pmgr

#2860 make sure that `radical.pilot.utils` as documented also
  docs/source/apidoc.rst
Labels: type:bug, topic:documentation, priority:medium
