Repository radical-cybertools/radical.pilot, pull requests merged in 2023-07, with the labels that each got.

#2975 fixes tests for PRs from forks
  .github/workflows/run-rp-notebook.yml
Labels: topic:testing

#2981 added option `--exact` for Rivanna (SRun LM)
  docs/source/supported/rivanna.rst
  src/radical/pilot/agent/launch_method/srun.py
  src/radical/pilot/configs/resource_uva.json
  tests/unit_tests/test_lm/test_cases/task.000019.json
  tests/unit_tests/test_lm/test_srun.py
Labels: topic:resource, topic:execution, type:enhancement, priority:medium, topic:configuration

#2987 fixed GPUs discovery from SLURM env variables
  src/radical/pilot/agent/resource_manager/slurm.py
  tests/unit_tests/test_rm/test_slurm.py
Labels: type:bug, topic:resource, priority:medium, comp:agent, topic:configuration

#2985 increase raptor's heartbeat time
  src/radical/pilot/raptor/master.py
Labels: priority:critical, comp:raptor
