Repository radical-cybertools/radical.pilot, pull requests merged in 2023-11, with the labels that each got.

#3068 improve multi pilot example
  examples/03_multiple_pilots.py
Labels: topic:documentation, type:enhancement, priority:medium

#3082 remove space for function invocation
  examples/data_staging/io_staging_dict.py
Labels: layer:rp

#3076 amarel cfg
  src/radical/pilot/agent/launch_method/srun.py
  src/radical/pilot/agent/resource_manager/base.py
  src/radical/pilot/configs/resource_rutgers.json
Labels: type:bug, topic:execution, priority:high, comp:pmgr:launcher, comp:agent:executor, topic:configuration

#3081 move rm init
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/session.py
Labels: type:bug, priority:high, comp:agent, topic:configuration

#3088 AgentComponent to forward all state notifications
  bin/radical-pilot-component
  examples/error_handling.py
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/agent_n.py
  src/radical/pilot/agent/executing/base.py
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/staging_input/base.py
  src/radical/pilot/agent/staging_output/base.py
  src/radical/pilot/pilot_manager.py
  src/radical/pilot/pmgr/launching/base.py
  src/radical/pilot/raptor/master.py
  src/radical/pilot/task_manager.py
  src/radical/pilot/tmgr/scheduler/base.py
  src/radical/pilot/tmgr/staging_input/base.py
  src/radical/pilot/tmgr/staging_output/base.py
  src/radical/pilot/utils/component.py
  src/radical/pilot/worker/stager.py
  tests/component_tests/test_component.py
  tests/test_raptor/test_raptor.py
  tests/unit_tests/test_tmgr/test_tmgr_staging.py
Labels: type:bug, topic:communication, priority:high, comp:agent

#3086 enable reporter in examples
  src/radical/pilot/session.py
  src/radical/pilot/utils/session.py
Labels: type:enhancement, priority:medium, topic:configuration
