Repository radical-cybertools/radical.pilot, pull requests merged in 2023-08, with the labels that each got.

#3000 fix raptor master hb_freq and hb_timeout
  src/radical/pilot/raptor/master.py
Labels: layer:rp, comp:raptor

#2999 Docs/raptor
  docs/source/apidoc.rst
  src/radical/pilot/raptor/master.py
  src/radical/pilot/raptor/worker.py
  src/radical/pilot/raptor/worker_default.py
  src/radical/pilot/raptor/worker_mpi.py
  src/radical/pilot/raptor_tasks.py
Labels: topic:documentation, type:enhancement, priority:high, comp:raptor

#3009 remove unnecessary sleep in raptor_master example
  examples/misc/raptor_master.py
Labels: type:enhancement, layer:rp, priority:medium, comp:raptor

#2993 Remove MDB from documentation
  docs/source/README.md
  docs/source/envs.rst
  docs/source/getting_started.ipynb
  docs/source/images/architecture.png
  docs/source/supported/amarel.rst
  docs/source/supported/bridges2.rst
  docs/source/supported/delta.rst
  docs/source/supported/frontera.rst
  docs/source/supported/frontier.rst
  docs/source/supported/perlmutter.rst
  docs/source/supported/polaris.rst
  docs/source/supported/rivanna.rst
  docs/source/supported/summit.rst
  docs/source/tutorials/configuration.ipynb
  docs/source/tutorials/multiple_pilots.ipynb
  docs/source/tutorials/staging_data.ipynb
  docs/source/tutorials/submission.ipynb
Labels: topic:documentation
