Repository radical-cybertools/radical.pilot, pull requests merged in 2024-11, with the labels that each got.

#3208 service startup II
  bin/radical-pilot-create-static-ve
  bin/radical-pilot-http-balancer
  bin/radical-pilot-service-signal
  bin/radical-pilot-service-wrapper
  examples/00_getting_started.py
  examples/misc/service_tasks.py
  src/radical/pilot/__init__.py
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/executing/base.py
  src/radical/pilot/agent/executing/sleep.py
  src/radical/pilot/agent/launch_method/aprun.py
  src/radical/pilot/agent/launch_method/base.py
  src/radical/pilot/agent/launch_method/flux.py
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/client.py
  src/radical/pilot/configs/agent_default.json
  src/radical/pilot/configs/session_default.json
  src/radical/pilot/constants.py
  src/radical/pilot/pilot.py
  src/radical/pilot/raptor/master.py
  src/radical/pilot/resource_config.py
  src/radical/pilot/session.py
  src/radical/pilot/task.py
  src/radical/pilot/task_description.py
  src/radical/pilot/task_manager.py
  src/radical/pilot/tmgr/scheduler/base.py
  src/radical/pilot/utils/component.py
  tests/integration_tests/test_config/resources.json
  tests/integration_tests/test_lm/test_mpirun.py
  tests/unit_tests/test_agent_0/test_agent_0.py
  tests/unit_tests/test_executing/test_popen.py
  tests/unit_tests/test_scheduler/test_cases/task.000000.json
  tests/unit_tests/test_scheduler/test_cases/task.000001.json
  tests/unit_tests/test_scheduler/test_cases/task.000002.json
  tests/unit_tests/test_scheduler/test_continuous.py
Labels: topic:api, topic:resource, type:enhancement, priority:medium, comp:agent, topic:deployment, topic:configuration, external

#3248 Adding Tianjin-Sugon resource config
  src/radical/pilot/configs/resource_tianjin.json
Labels: topic:resource, external

#3255 `glob` does not understand POSIX globs :-(
  setup.py
Labels: type:bug, priority:high, topic:deployment, internal

#3257 no macos
  docs/source/README.md
  setup.py
Labels: type:bug, topic:documentation, priority:medium, external

#3258 fix pwatcher logs
  bin/radical-pilot-agent_0
  bin/radical-pilot-agent_n
  bin/radical-pilot-bridge
  bin/radical-pilot-component
  bin/radical-pilot-service-wrapper
  src/radical/pilot/agent/executing/base.py
Labels: type:bug, priority:medium, topic:configuration, internal

#3259 separate ve activation and env settings
  src/radical/pilot/agent/bootstrap_0.sh
Labels: type:bug, priority:critical, comp:agent:bootstrapper, topic:deployment, internal

#3263 recover registry dump
  src/radical/pilot/session.py
Labels: type:bug, topic:data, priority:high, comp:session, internal

#3262 PWatcher log (for `agent_0`)
  bin/radical-pilot-agent_0
Labels: type:bug, topic:configuration, internal

#3260 added resource configuration for `epcc.archer2`
  src/radical/pilot/configs/resource_epcc.json
Labels: type:feature, topic:resource, priority:medium, topic:configuration, external

#3264 Feature/three
  src/radical/pilot/configs/resource_debug.json
  src/radical/pilot/utils/staging_helper.py
Labels: type:enhancement, priority:medium, comp:session, topic:configuration, external
