Repository radical-cybertools/radical.pilot, pull requests merged in 2024-12, with the labels that each got.

#3274 ensure cancel arrives at executor
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/utils/component.py
Labels: type:bug, topic:termination, priority:critical, comp:agent:executor, external

#3270 safer srun termination
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/launch_method/srun.py
  src/radical/pilot/utils/component.py
  tests/unit_tests/test_lm/test_cases/task.000010.json
  tests/unit_tests/test_lm/test_cases/task.000014.json
  tests/unit_tests/test_lm/test_cases/task.000019.json
Labels: type:bug, topic:termination, priority:high, comp:agent:executor, external

#3256 fix docs
  docs/source/tutorials/submission.ipynb
Labels: topic:documentation, layer:rp, internal

#3277 ensure url type
  src/radical/pilot/utils/staging_helper.py
Labels: type:bug, topic:data, priority:critical, comp:tmgr:stager, internal

#3276 track output files
  examples/06_task_output_data.py
  src/radical/pilot/agent/executing/base.py
  src/radical/pilot/agent/staging_output/default.py
  src/radical/pilot/task.py
Labels: topic:data, type:enhancement, priority:high, comp:agent:stager, external

#3281 set default `scattered=True`
  src/radical/pilot/agent/scheduler/continuous.py
  src/radical/pilot/resource_config.py
Labels: type:enhancement, priority:medium, comp:agent:scheduler, topic:configuration, external

#3283 `actions/artifact-upload@v3` is being retired
  .github/workflows/ci-release.yml
  .github/workflows/ci.yml
  .github/workflows/run-rp-notebook.yml
Labels: topic:testing, priority:medium, type:refactor, external

#3287 fix task update
  src/radical/pilot/task_manager.py
Labels: type:bug, topic:termination, priority:medium, comp:tmgr, external

#3289 target state is interpreted *after* output staging
  src/radical/pilot/task_manager.py
  src/radical/pilot/tmgr/staging_output/default.py
Labels: type:bug, priority:critical, topic:communication, comp:tmgr:scheduler, comp:tmgr, external

#3282 add `DOWNLOAD` staging action
  examples/05_task_input_data.py
  requirements.txt
  src/radical/pilot/agent/staging_input/default.py
  src/radical/pilot/agent/staging_output/default.py
  src/radical/pilot/constants.py
  src/radical/pilot/task_description.py
  src/radical/pilot/tmgr/staging_input/default.py
  src/radical/pilot/utils/staging_helper.py
Labels: topic:data, topic:api, type:enhancement, priority:high, comp:agent:stager, external

#3290 Fix/delta cfg
  examples/config.json
  src/radical/pilot/configs/resource_ncsa.json
Labels: type:bug, priority:high, comp:agent:bootstrapper, topic:configuration, external
