Repository radical-cybertools/radical.pilot, pull requests merged in 2024-06, with the labels that each got.

#3191 added SRUN option not to kill all ranks for non-mpi task if a single rank fails
  src/radical/pilot/agent/launch_method/srun.py
  tests/unit_tests/test_lm/test_cases/task.000019.json
  tests/unit_tests/test_lm/test_srun.py
Labels: type:feature, topic:execution, priority:medium, comp:agent:executor, external

#3046 added scheduler capable to reconfigure tasks requirements
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/agent/scheduler/continuous_reconfig.py
  src/radical/pilot/pilot_description.py
  src/radical/pilot/pmgr/launching/base.py
  tests/unit_tests/test_launcher/test_launcher.py
Labels: type:feature, comp:agent:scheduler, external

#3192 ensure that services are up
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/pilot_description.py
  src/radical/pilot/pmgr/launching/base.py
  tests/unit_tests/test_agent_0/test_agent_0.py
  tests/unit_tests/test_launcher/test_launcher.py
Labels: topic:execution, type:enhancement, priority:medium, internal

#3151 Feature/agent service ep
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/pilot.py
  src/radical/pilot/pilot_description.py
  src/radical/pilot/pilot_manager.py
  src/radical/pilot/pmgr/launching/base.py
  tests/unit_tests/test_launcher/test_launcher.py
Labels: type:feature, topic:api, topic:communication, priority:low, comp:agent

#3174 Feature/flux partitioning
  bin/radical-pilot-create-static-ve
  examples/config.json
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/executing/base.py
  src/radical/pilot/agent/executing/flux.py
  src/radical/pilot/agent/launch_method/flux.py
  src/radical/pilot/agent/resource_manager/base.py
  src/radical/pilot/configs/agent_debug_sa.json
  src/radical/pilot/configs/agent_default.json
  src/radical/pilot/configs/agent_default_sa.json
  src/radical/pilot/configs/pmgr_default.json
  src/radical/pilot/configs/resource_debug.json
  src/radical/pilot/configs/resource_ornl.json
  src/radical/pilot/configs/session_default.json
  src/radical/pilot/configs/tmgr_default.json
  src/radical/pilot/pilot.py
  src/radical/pilot/task.py
  src/radical/pilot/task_description.py
  src/radical/pilot/task_manager.py
  src/radical/pilot/tmgr/staging_input/default.py
  src/radical/pilot/utils/session.py
Labels: topic:resource, type:enhancement, priority:high, comp:agent:scheduler, external

#3202 fix node count
  src/radical/pilot/pmgr/launching/psi_j.py
Labels: comp:pmgr:launcher, internal

#3189 reconcile `ve_mode=local` and `rp_version=local`
  src/radical/pilot/agent/bootstrap_0.sh
Labels: comp:agent:bootstrapper
