Repository radical-cybertools/radical.pilot, pull requests merged in 2024-03, with the labels that each got.

#3141 update flake8, remove unneeded dependency
  .flake8
  requirements-ci.txt
Labels: type:enhancement, priority:high, topic:deployment

#3142 Fix/proxy url
  docs/source/envs.rst
  src/radical/pilot/session.py
Labels: type:bug, topic:communication, priority:medium, comp:session

#3145 Fix/staging
  src/radical/pilot/session.py
  src/radical/pilot/tmgr/staging_input/default.py
Labels: topic:data, priority:high, comp:agent:stager

#3140 Proof of concept for a dragon executor
  README.dragon
  bin/radical-pilot-dragon-executor.py
  examples/00_getting_started.py
  src/radical/pilot/agent/executing/base.py
  src/radical/pilot/agent/executing/dragon.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/task.py
Labels: type:feature, topic:execution, priority:high, comp:agent:executor

#3146 Support for flux exec scripts
  src/radical/pilot/agent/executing/base.py
  src/radical/pilot/agent/executing/flux.py
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/launch_method/aprun.py
  src/radical/pilot/agent/launch_method/base.py
  src/radical/pilot/agent/launch_method/ccmrun.py
  src/radical/pilot/agent/launch_method/flux.py
  src/radical/pilot/agent/launch_method/fork.py
  src/radical/pilot/agent/launch_method/ibrun.py
  src/radical/pilot/agent/launch_method/jsrun.py
  src/radical/pilot/agent/launch_method/mpiexec.py
  src/radical/pilot/agent/launch_method/mpirun.py
  src/radical/pilot/agent/launch_method/prte.py
  src/radical/pilot/agent/launch_method/rsh.py
  src/radical/pilot/agent/launch_method/srun.py
  src/radical/pilot/agent/launch_method/ssh.py
  src/radical/pilot/agent/scheduler/flux.py
  src/radical/pilot/agent/scheduler/noop.py
  tests/component_tests/test_session.py
  tests/unit_tests/test_executing/test_popen.py
Labels: type:feature, topic:execution, priority:high, comp:agent:executor

#3153 clearer separation of staging phases
  src/radical/pilot/agent/staging_input/default.py
  src/radical/pilot/agent/staging_output/default.py
  src/radical/pilot/constants.py
  src/radical/pilot/tmgr/staging_input/default.py
  src/radical/pilot/tmgr/staging_output/default.py
Labels: topic:data, type:enhancement, priority:medium, comp:tmgr:stager, comp:agent:stager

#3155 SRUN-Bridges2
  src/radical/pilot/configs/resource_access.json
Labels: type:feature, type:performance, topic:configuration

#3131 less saga
  .github/workflows/bridges.yml
  .github/workflows/ci.yml
  .github/workflows/summit.yml
  .travis.yml
  bin/radical-pilot-bridge
  bin/radical-pilot-component
  bin/radical-pilot-create-static-ve
  docs/source/apidoc.rst
  docs/source/tutorials/submission.ipynb
  examples/misc/dynamic_ec2_pilot.py
  requirements-ci.txt
  requirements.txt
  setup.py
  src/radical/pilot/__init__.py
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/staging_input/default.py
  src/radical/pilot/agent/staging_output/default.py
  src/radical/pilot/configs/session_default.json
  src/radical/pilot/constants.py
  src/radical/pilot/context.py
  src/radical/pilot/pilot.py
  src/radical/pilot/pilot_description.py
  src/radical/pilot/pilot_manager.py
  src/radical/pilot/pmgr/launching/base.py
  src/radical/pilot/pmgr/launching/psi_j.py
  src/radical/pilot/pmgr/launching/saga.py
  src/radical/pilot/raptor/worker_default.py
  src/radical/pilot/session.py
  src/radical/pilot/staging_directives.py
  src/radical/pilot/tmgr/staging_input/default.py
  src/radical/pilot/tmgr/staging_output/default.py
  src/radical/pilot/utils/__init__.py
  src/radical/pilot/utils/component.py
  src/radical/pilot/utils/component_manager.py
  src/radical/pilot/utils/rpc_helper.py
  src/radical/pilot/utils/session.py
  src/radical/pilot/utils/staging_helper.py
  src/radical/pilot/worker/__init__.py
  src/radical/pilot/worker/stager.py
  tests/component_tests/test_session.py
  tests/component_tests/test_stager.py
  tests/integration_tests/README.md
  tests/unit_tests/test_rpc.py
Labels: type:enhancement, priority:high, comp:session, topic:deployment

#3136 disable env inheritance in PSIJ launcher
  src/radical/pilot/agent/launch_method/srun.py
  src/radical/pilot/pmgr/launching/psi_j.py
  tests/unit_tests/test_lm/test_cases/task.000010.json
  tests/unit_tests/test_lm/test_cases/task.000014.json
  tests/unit_tests/test_lm/test_cases/task.000019.json
Labels: type:enhancement, priority:high, comp:pmgr:launcher, topic:configuration

#3156 add `named_env` check to TD verfication
  src/radical/pilot/task_description.py
Labels: topic:api, type:enhancement, priority:low, comp:raptor

#3158 Bridges2-SRUN docs
  docs/source/supported.rst
  docs/source/supported/bridges2.rst
  src/radical/pilot/configs/resource_access.json
Labels: topic:documentation
