Repository radical-cybertools/radical.pilot, pull requests merged in 2024-09, with the labels that each got.

#3203 apply LM env blacklist
  src/radical/pilot/agent/launch_method/base.py
  src/radical/pilot/agent/launch_method/mpiexec.py
  src/radical/pilot/agent/launch_method/mpirun.py
  src/radical/pilot/agent/launch_method/srun.py
Labels: type:bug, priority:critical, topic:execution, comp:agent:executor, external

#3230 updated docs and configs for Delta (NCSA)
  docs/source/supported/delta.rst
  src/radical/pilot/configs/resource_ncsa.json
Labels: topic:documentation, priority:medium, topic:configuration, external

#3226 ensure state setting
  src/radical/pilot/task_manager.py
Labels: type:bug, priority:critical, topic:communication, comp:tmgr, internal

#3229 always log full version also
  src/radical/pilot/session.py
Labels: type:enhancement, priority:low, comp:session, internal
