Repository radical-cybertools/radical.pilot, pull requests merged in 2025-01, with the labels that each got.

#3298 updated py-versions for `ubuntu-latest` (CI)
  .github/workflows/ci-release.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/run-rp-notebook.yml
  tests/workflows/bridges.yml
  tests/workflows/summit.yml
Labels: topic:testing, priority:high, internal

#3296 updated tutorials and docs
  .github/workflows/run-rp-notebook.yml
  docs/source/apidoc.rst
  docs/source/conf.py
  docs/source/getting_started.ipynb
  docs/source/process/release_procedure.rst
  docs/source/supported.rst
  docs/source/supported/bridges2.rst
  docs/source/supported/frontera.rst
  docs/source/supported/summit.rst
  docs/source/tutorials/configuration.ipynb
  docs/source/tutorials/debugging.ipynb
  docs/source/tutorials/describing_tasks.ipynb
  docs/source/tutorials/multiple_pilots.ipynb
  docs/source/tutorials/profiling.ipynb
  docs/source/tutorials/raptor.ipynb
  docs/source/tutorials/raptor_mpi.ipynb
  docs/source/tutorials/staging_data.ipynb
  docs/source/tutorials/submission.ipynb
Labels: topic:documentation, type:enhancement, external

#3301 control PSI/J `exclusive` parameter for the LRM submission
  src/radical/pilot/pmgr/launching/psi_j.py
Labels: comp:pmgr:launcher, topic:configuration, external

#3295 trigger dump via command
  bin/radical-pilot-command
  src/radical/pilot/pilot_manager.py
  src/radical/pilot/session.py
  src/radical/pilot/task_manager.py
  src/radical/pilot/utils/prof_utils.py
  tests/component_tests/test_session.py
Labels: type:feature, topic:api, topic:communication, priority:high, comp:session, external

#3302 ensure scheduler sub-process terminates
  src/radical/pilot/agent/scheduler/base.py
  tests/unit_tests/test_scheduler/test_base.py
Labels: topic:termination, type:enhancement, priority:medium, comp:agent:executor, comp:agent:scheduler, external

#3304 fixed task handling when cancelled
  src/radical/pilot/agent/executing/popen.py
  tests/unit_tests/test_executing/test_popen.py
Labels: priority:critical, topic:execution, comp:agent:executor, internal
