Repository radical-cybertools/radical.pilot, pull requests merged in 2025-05, with the labels that each got.

#3340 Fix docstring of Pytask
  src/radical/pilot/pytask.py
Labels: topic:documentation

#3348 fix #3347
  src/radical/pilot/pytask.py
Labels: type:bug, topic:api

#3350 Feature/raptor asyncio
  src/radical/pilot/raptor/worker.py
  src/radical/pilot/raptor/worker_default.py
  src/radical/pilot/raptor/worker_mpi.py
  tests/unit_tests/test_raptor/test_worker.py
Labels: topic:execution, comp:raptor, internal

#3337 pass network configuration through to RU
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/pmgr/launching/base.py
  src/radical/pilot/resource_config.py
Labels: priority:critical, topic:communication, type:enhancement, comp:agent, topic:configuration, external

#3341 Feature/nccs resource
  docs/source/supported/discover.rst
  src/radical/pilot/configs/resource_nccs.json
Labels: topic:resource, external
