Repository radical-cybertools/radical.pilot, pull requests merged in 2025-03, with the labels that each got.

#3311 app scheduler tutorial
  concepts/dicts/spec.py
  concepts/dicts/spec_rs.py
  concepts/dicts/spec_rumunch.py
  concepts/dicts/spec_schema.py
  concepts/dicts/t.py
  docs/source/tutorials/app_scheduling.ipynb
  examples/misc/pilot_resources.py
  src/radical/pilot/__init__.py
  src/radical/pilot/agent/resource_manager/base.py
  src/radical/pilot/pilot.py
  src/radical/pilot/pilot_description.py
  src/radical/pilot/pmgr/launching/base.py
  src/radical/pilot/resource_config.py
  src/radical/pilot/session.py
  src/radical/pilot/task.py
  src/radical/pilot/task_description.py
  src/radical/pilot/utils/misc.py
Labels: topic:documentation, topic:api, priority:critical, type:enhancement, comp:tmgr:scheduler, comp:agent:scheduler, external

#3307 Extend functionality for `startup_timeout` (TaskDescription)
  bin/radical-pilot-control
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/executing/base.py
  src/radical/pilot/session.py
  src/radical/pilot/task_description.py
  src/radical/pilot/task_manager.py
  src/radical/pilot/utils/component.py
  src/radical/pilot/utils/component_manager.py
  tests/unit_tests/test_executing/test_popen.py
Labels: topic:termination, type:enhancement, external

#3319 Fix/double schedule
  src/radical/pilot/agent/scheduler/base.py
  tests/unit_tests/test_scheduler/test_base.py
  tests/unit_tests/test_scheduler/test_continuous.py
Labels: type:bug, topic:data, priority:critical, comp:agent:scheduler, external

#3323 Fix/install
  setup.py
  src/radical/pilot/utils/prof_utils.py
Labels: type:bug, priority:medium, topic:deployment, external

#3327 Fix/distutils
  src/radical/pilot/agent/bootstrap_0.sh
Labels: type:bug, topic:resource, priority:medium, comp:agent:bootstrapper, topic:deployment, external

#3331 fix pre_exec
  bin/radical-pilot-create-static-ve
Labels: type:bug, priority:high, comp:agent, external

#3332 Fix/pre exec eval
  bin/radical-pilot-create-static-ve
  examples/12_task_env.py
  src/radical/pilot/agent/agent_0.py
Labels: type:enhancement, priority:high, comp:agent:executor, topic:deployment, external

#3325 fix file locations
  src/radical/pilot/agent/executing/base.py
Labels: type:bug, topic:data, priority:medium, comp:agent:executor, external

#3322 Fix task cancellation problem where (a) cancel raced in the executor and scheduler and (b) cancellation updates were not forwarded
  src/radical/pilot/agent/agent_0.py
  src/radical/pilot/agent/bootstrap_0.sh
  src/radical/pilot/agent/executing/popen.py
  src/radical/pilot/agent/scheduler/base.py
  src/radical/pilot/pmgr/launching/base.py
  src/radical/pilot/task.py
  src/radical/pilot/task_manager.py
  src/radical/pilot/utils/component.py
  tests/unit_tests/test_agent_0/test_agent_0.py
  tests/unit_tests/test_executing/test_popen.py
  tests/unit_tests/test_scheduler/test_base.py
Labels: type:bug, topic:resource, priority:high, comp:agent:executor, comp:agent:scheduler, external
